<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Agent Management
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a routerLink="/level-2/hod/sale/agents" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
					<span class="m-nav__link-text">
						Agent's
					</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
        <div class="m-alert__icon">
            <i class="flaticon-exclamation m--font-primary"></i>
        </div>
        <div class="m-alert__text">
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
        </div>
    </div>
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        List of all User's
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">
                            <div class="col-md-6">
                                <div class="m-input-icon m-input-icon--left">
                                    <input type="text" class="form-control m-input m-input--solid" placeholder="Search..." [(ngModel)]="filter">
                                    <span class="m-input-icon__icon m-input-icon__icon--left">
										<span>
											<i class="la la-search"></i>
										</span>
									</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
            <!--begin: Datatable -->
            <div class="m-datatable m-datatable--default m-datatable--primary m-datatable--loaded">
                <table class="m-datatable__table" width="100%">
                    <thead class="m-datatable__head">
                        <tr class="m-datatable__row" style="height: 53px;">
                            <th class="m-datatable__cell" title="Field #1" style="width: 7%;"> &nbsp; &nbsp;
                                No
                            </th>
                            <th class="m-datatable__cell" title="Field #2" style="width: 17%;">
                                Name
                            </th>
                            <th class="m-datatable__cell" title="Field #3" style="width: 29%;">
                                Email
                            </th>
                            <th class="m-datatable__cell" title="Field #4" style="width: 15%;">
                                User Since
                            </th>
                            <th class="m-datatable__cell" title="Field #6" style="width: 18%;">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody class="m-datatable__body">
                        <tr *ngFor="let agent of _agents_list | filter:filter" style="height: 43px;" class="m-datatable__row m-datatable__row--even">
                            <td class="m-datatable__cell" style="width: 7%;"> &nbsp; &nbsp;
                                {{ agent.user_id }}
                            </td>
                            <td class="m-datatable__cell" style="width: 17%;">
                                {{ agent.first_name + ' ' + agent.last_name }}
                            </td>
                            <td class="m-datatable__cell" style="width: 29%;">
                                {{ agent.email }}
                            </td>
                            <td class="m-datatable__cell" style="width: 15%;">
                                {{ agent.created_at }}
                            </td>
                            <td class="m-datatable__cell" style="width: 18%;">
                                <a routerLink="/level-2/hod/sale/agent/view/{{ agent.user_id }}" class="m-portlet__nav-link btn m-btn m-btn--hover-primary m-btn--icon m-btn--icon-only m-btn--pill" title="View ">
                                    <i class="la la-eye"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--end: Datatable -->
        </div>
    </div>
</div>
