<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Leads
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a routerLink="/level-3/crm/leads" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/level-3/crm/leads" class="m-nav__link">
						<span class="m-nav__link-text">
							Leads
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
        <div class="m-alert__icon">
            <i class="flaticon-exclamation m--font-primary"></i>
        </div>
        <div class="m-alert__text">
            List of all leads which you have assigned.
        </div>
    </div>
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">
                            <div class="col-md-4">
                                <div class="m-form__group m-form__group--inline">
                                    <div class="m-form__label">
                                        <label>
                                            Status:
                                        </label>
                                    </div>
                                    <div class="m-form__control">
                                        <select class="form-control" appSelectorTwo (onChange)="status = $event">
                                            <option value="">
                                                All
                                            </option>
                                            <option *ngFor="let status of _status_list" value="{{ status.id }}">
                                                {{ status.name }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="d-md-none m--margin-bottom-10"></div>
                            </div>
                            <div class="col-md-4">
                                <div class="m-input-icon m-input-icon--left">
                                    <input type="text" class="form-control m-input" placeholder="Search..." [(ngModel)]="filter">
                                    <span class="m-input-icon__icon m-input-icon__icon--left">
										<span>
											<i class="la la-search"></i>
										</span>
									</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
            <!--begin: Datatable -->
            <div class="m-datatable m-datatable--default m-datatable--primary m-datatable--loaded">
                <table class="m-datatable__table">
                    <thead class="m-datatable__head">
                        <tr class="m-datatable__row" style="height: 53px;">
                            <th class="m-datatable__cell" style="width: 15%;"> &nbsp; &nbsp; Lead ID</th>
                            <th class="m-datatable__cell" style="width: 18%;">Client Name</th>
                            <th class="m-datatable__cell" style="width: 17%;">Assign by</th>
                            <th class="m-datatable__cell" style="width: 15%;">Created At</th>
                            <th class="m-datatable__cell" style="width: 12%;">Status</th>
                            <th class="m-datatable__cell" style="width: 8%;">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="m-datatable__body">
                        <tr class="m-datatable__row m-datatable__row--even" *ngFor="let lead of _lead_list | filter:filter | filter:status:'status';">
                            <td class="m-datatable__cell" style="width: 15%;"> &nbsp; &nbsp;
                                {{ lead.lead_id }}
                            </td>
                            <td class="m-datatable__cell" style="width: 18%;">
                                {{ lead.lead_proposal.client_info.customer_name }}
                            </td>
                            <td class="m-datatable__cell" style="width: 17%;">
                                {{ GenerateAssignedByName(lead.agents[0].assigned_by) }}
                            </td>
                            <td class="m-datatable__cell" style="width: 15%;">
                                {{ lead.created_at }}
                            </td>
                            <td class="m-datatable__cell" style="width: 12%;">
                                <span class="m-badge m-badge--{{ LeadStatusColor(lead.status) }} m-badge--wide" style="color: #fff; display: inline-block;">
                                    {{ LeadStatus(lead.status) }}
                                </span>
                            </td>
                            <td class="m-datatable__cell" style="width: 8%;">
                                <a routerLink="/level-3/crm/lead/update/{{ lead.lead_id }}" class="m-portlet__nav-link btn m-btn m-btn--hover-primary m-btn--icon m-btn--icon-only m-btn--pill" title="Edit details">
                                    <i class="la la-edit"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--end: Datatable -->
        </div>
    </div>
</div>
