<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Tickets
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a routerLink="/level-2/manager/sale/tickets" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/level-2/manager/sale/tickets" class="m-nav__link">
						<span class="m-nav__link-text">
							Tickets
						</span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/level-2/manager/sale/ticket/new" class="m-nav__link">
						<span class="m-nav__link-text">
							Add Ticket
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__body">
                    <!--begin::Form-->
                    <form class="m-form m-form--label-align-right" action="javascript:;" (submit)="SaveTicket($event)">
                        <div class="m-portlet__body">
                            <div class="m-form__section m-form__section--first">
                                <div class="form-group m-form__group row" style="font-size: 13px; font-weight: normal;">
                                    <div class="col-md-6">
                                        <label>
                                            Select Priority:
                                        </label>
                                        <div class="m-form__control">
                                            <select class="form-control" appSelectorTwo name="priority_level">
                                                <option value="">
                                                    All
                                                </option>
                                                <option *ngFor="let priority of _priority_list" value="{{ priority.id }}">
                                                    {{ priority.name }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>
                                            Select Client:
                                        </label>
                                        <div class="m-form__control">
                                            <select class="form-control" appSelectorTwo name="customer_id">
                                                <option value="">
                                                    All
                                                </option>
                                                <option *ngFor="let client of _client_list" value="{{ client.customer_id }}">
                                                    {{ client.customer_name }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-form__seperator m-form__seperator--dashed"></div>
                                <div class="form-group m-form__group row" style="font-size: 13px; font-weight: normal;">
                                    <div class="col-md-6">
                                        <label>
                                            Select Department:
                                        </label>
                                        <div class="m-form__control">
                                            <select class="form-control" appSelectorTwo name="dept_id">
                                                <option value="">
                                                    All
                                                </option>
                                                <option *ngFor="let dept of _dept_list" value="{{ dept.id }}">
                                                    {{ dept.dept_name }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>
                                            Title:
                                        </label>
                                        <input type="text" class="form-control m-input" placeholder="Enter ticket title" name="ticket_title">
                                    </div>
                                </div>
                                <div class="m-form__seperator m-form__seperator--dashed"></div>
                                <div class="form-group m-form__group row">
                                    <div class="col-md-12 col-xs-12">
                                        <label>
                                            Customer Message:
                                        </label>
                                        <textarea class="form-control m-messenger__form-input m-input" placeholder="Type here..." name="description" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div><br>
                        <div class="m-form__seperator m-form__seperator--dashed"></div>
                        <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit row">
                            <div class="m-form__actions row">
                                <div class="col-xs-12"> &nbsp; &nbsp; &nbsp; &nbsp;
                                    <button type="submit" class="btn btn-primary">
                                        Submit
                                    </button> &nbsp; &nbsp;
                                    <a routerLink="/level-2/manager/sale/tickets" class="btn btn-secondary">
                                        Cancel
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--end::Form-->
                </div>
            </div>
        </div>
    </div>
</div>