<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Update Vehicle Info
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a routerLink="/level-3/crm/clients" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/level-3/crm/clients" class="m-nav__link">
						<span class="m-nav__link-text">
							Client's
						</span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/level-3/sale/client/update/individual/{{ opt_id }}/{{ vehicle_id }}" class="m-nav__link">
						<span class="m-nav__link-text">
							Client Vehicle
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Form-->
            <form class="m-form m-form--label-align-right" action="javascript:;" (submit)="SaveVehicle($event)">
                <input type="hidden" name="id" [(ngModel)]="vehicle_id">
                <input type="hidden" name="opt_id" [(ngModel)]="opt_id">
                <div class="m-portlet__body">
                    <div class="m-form__section m-form__section--first">
                        <div class="m-form__section m-form__section--last">
                            <div class="m-form__heading">
                                <h3 class="m-form__heading-title">
                                    Vehicle Information:
                                </h3>
                            </div>
                            <div class="form-group m-form__group row">
                                <div class="col-md-6">
                                    <label>
                                        Plate No:
                                    </label>
                                    <input type="text" class="form-control m-input" placeholder="Enter plate number" name="plate_no" value="{{ _vehicle_detail.plate_no }}" data-name="plate_no">
                                    <span class="m-form__help">
									Please enter customer vehicle plate number
								</span>
                                </div>
                                <div class="col-md-6">
                                    <label>
                                        Year of Manufacturing:
                                    </label>
                                    <input type="text" class="form-control m-input" placeholder="Enter year" name="year_of_manufacturing" value="{{ _vehicle_detail.year_of_manufacturing }}" data-name="year_of_manufacturing">
                                    <span class="m-form__help">
									Please enter year of customer vehicle manufacturing
								</span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <div class="col-md-6">
                                    <label>
                                        Vehicle Make:
                                    </label>
                                    <input type="text" class="form-control m-input" placeholder="Enter make" name="vehicle_make" value="{{ _vehicle_detail.vehicle_make }}" data-name="vehicle_make">
                                    <span class="m-form__help">
									Please enter customer vehicle make
								</span>
                                </div>
                                <div class="col-md-6">
                                    <label>
                                        Vehicle Model:
                                    </label>
                                    <input type="text" class="form-control m-input" placeholder="Enter model" name="vehicle_model" value="{{ _vehicle_detail.vehicle_model }}" data-name="vehicle_model">
                                    <span class="m-form__help">
									Please enter customer vehicle model
								</span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <div class="col-md-6">
                                    <label>
                                        Vehicle Color:
                                    </label>
                                    <input type="text" class="form-control m-input" placeholder="Enter color" name="vehicle_color" value="{{ _vehicle_detail.vehicle_color }}" data-name="vehicle_color">
                                    <span class="m-form__help">
									Please enter customer vehicle color
								</span>
                                </div>
                                <div class="col-md-6">
                                    <label>
                                        Vehicle Engine CC:
                                    </label>
                                    <input type="text" class="form-control m-input" placeholder="Enter engine cc" name="vehicle_engine_cc" value="{{ _vehicle_detail.vehicle_engine_cc }}" data-name="vehicle_engine_cc">
                                    <span class="m-form__help">
									Please enter customer vehicle engine CC
								</span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <div class="col-md-6">
                                    <label>
                                        Vehicle Engine No:
                                    </label>
                                    <input type="text" class="form-control m-input" placeholder="Enter engine number" name="vehicle_engine_no" value="{{ _vehicle_detail.vehicle_engine_no }}" data-name="vehicle_engine_no">
                                    <span class="m-form__help">
									Please enter customer vehicle engine number
								</span>
                                </div>
                                <div class="col-md-6">
                                    <label>
                                        Vehicle Chassis No:
                                    </label>
                                    <input type="text" class="form-control m-input" placeholder="Enter chassis number" name="vehicle_chassis_no" value="{{ _vehicle_detail.vehicle_chassis_no }}" data-name="vehicle_chassis_no">
                                    <span class="m-form__help">
									Please enter customer vehicle chassis number
								</span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row" style="margin-bottom: 30px;">
                                <div class="col-md-6">
                                    <label>
                                        Fuel Type:
                                    </label>
                                    <div class="m-radio-inline">
                                        <label class="m-radio">
                                            <input type="radio" name="fuel_type" value="0" [(ngModel)]="_vehicle_detail.fuel_type" data-name="fuel_type"> Diesel
                                            <span></span>
                                        </label>
                                        <label class="m-radio">
                                            <input type="radio" name="fuel_type" value="1" [(ngModel)]="_vehicle_detail.fuel_type" data-name="fuel_type"> Petrol
                                            <span></span>
                                        </label>
                                        <label class="m-radio">
                                            <input type="radio" name="fuel_type" value="2" [(ngModel)]="_vehicle_detail.fuel_type" data-name="fuel_type"> CNG
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>
                                        Transmission Type:
                                    </label>
                                    <div class="m-radio-inline">
                                        <label class="m-radio">
                                            <input type="radio" name="transmission_type" value="0" [(ngModel)]="_vehicle_detail.transmission_type" data-name="transmission_type"> Manual
                                            <span></span>
                                        </label>
                                        <label class="m-radio">
                                            <input type="radio" name="transmission_type" value="1" [(ngModel)]="_vehicle_detail.transmission_type" data-name="transmission_type"> Auto
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                    <div class="m-form__actions">
                        <div class="row">
                            <div class="row">
                                <button type="submit" class="btn btn-primary">
                                    Submit
                                </button> &nbsp; &nbsp;
                                <a routerLink="/level-3/crm/clients" class="btn btn-secondary">
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!--end::Form-->
        </div>
    </div>
</div>
