<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Add Client
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a routerLink="/level-3/sale/clients" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/level-3/sale/clients" class="m-nav__link">
						<span class="m-nav__link-text">
							Client's
						</span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/level-3/client/new" class="m-nav__link">
						<span class="m-nav__link-text">
							Add Client
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Form-->
            <form class="m-form m-form--label-align-right" action="javascript:;" (submit)="SaveClient($event)">
                <div class="m-portlet__body">
                    <div class="m-form__section m-form__section--first">
                        <div class="m-form__heading">
                            <h3 class="m-form__heading-title">
                                Customer Info:
                            </h3>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">
                                Customer Type:
                            </label>
                            <div class="col-lg-6">
                                <div class="m-radio-inline">
                                    <label class="m-radio">
                                        <input type="radio" name="customer_type" value="0" (click)="SwitchForm()"> Individual
                                        <span></span>
                                    </label>
                                    <label class="m-radio">
                                        <input type="radio" name="customer_type" value="1" checked> Corporate
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="form-group m-form__group row">
                                <div class="col-md-6">
                                    <label>
                                        Company Name:
                                    </label>
                                    <input type="text" class="form-control m-input" placeholder="Enter company name" name="company_name">
                                </div>
                                <div class="col-md-6">
                                    <label>
                                        Company Address:
                                    </label>
                                    <input type="text" class="form-control m-input" placeholder="Enter company address" name="address_line_1">
                                </div>
                            </div>
                            <div class="form-group m-form__group row" style="font-size: 14px; font-weight: normal;">
                                <div class="col-md-6">
                                    <label>
                                        Country:
                                    </label>
                                    <select class="form-control" appSelectorTwo name="country" >
                                        <option *ngFor="let country of _countries_list" value="{{ country.name }}">
                                            {{ country.name }}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label>
                                        City:
                                    </label>
                                    <select class="form-control" appSelectorTwo name="city">
                                        <option *ngFor="let city of _cities_list" value="{{ city.name }}">
                                            {{ city.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <div class="col-md-6">
                                    <label>
                                        Contact Person:
                                    </label>
                                    <input type="text" class="form-control m-input" placeholder="Enter contact person name" name="customer_name">
                                </div>
                                <div class="col-md-6">
                                    <label>
                                        Contact Person Designation:
                                    </label>
                                    <input type="text" class="form-control m-input" placeholder="Enter contact person designation" name="designation">
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <div class="col-md-6">
                                    <label>
                                        Mobile No:
                                    </label>
                                    <input type="text" class="form-control m-input" placeholder="Enter company mobile" name="mobile_1" style="margin-bottom: 10px;">
                                    <input type="text" class="form-control m-input" placeholder="Enter company mobile" name="mobile_2">
                                </div>
                                <div class="col-md-6">
                                    <label>
                                        Phone (office):
                                    </label>
                                    <input type="text" class="form-control m-input" placeholder="Enter company phone" name="phone_1" style="margin-bottom: 10px;">
                                    <input type="text" class="form-control m-input" placeholder="Enter company phone" name="phone_2">
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <div class="col-md-6">
                                    <label>
                                        Email address:
                                    </label>
                                    <input type="email" class="form-control m-input" placeholder="Enter email" name="email">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                    <div class="m-form__actions">
                        <div class="row">
                            <div class="row">
                                <button type="submit" class="btn btn-primary">
                                    Submit
                                </button> &nbsp; &nbsp;
                                <a routerLink="/level-3/sale/clients" class="btn btn-secondary">
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!--end::Form-->
        </div>
    </div>
</div>
