<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                User Management
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a routerLink="/level-1/role" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/level-1/role" class="m-nav__link">
						<span class="m-nav__link-text">
							Role's
						</span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/level-1/role/update-role/{{ _role_detail.id }}" class="m-nav__link">
						<span class="m-nav__link-text">
							Update {{ _role_detail.name }} Role
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
                            <h3 class="m-portlet__head-text">
                                Update {{ _role_detail.name }} Role
                            </h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" action="javascript:;" (submit)="SaveRole($event)">
                    <input type="hidden" name="id" [(ngModel)]="_role_detail.id">
                    <div class="m-portlet__body">
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">
                                Role Name:
                            </label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control m-input" placeholder="Enter role name" name="name" [(ngModel)]="_role_detail.name">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">
                                Description:
                            </label>
                            <div class="col-lg-6">
                                <textarea class="form-control m-input" name="description" rows="3" [(ngModel)]="_role_detail.description"></textarea>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">
                                Level:
                            </label>
                            <div class="col-lg-6">
                                <select class="form-control" name="level" (change)="LevelDept()" [(ngModel)]="_role_detail.level">
                                    <option value="">Select Level</option>
                                    <option value="level-1">level 1</option>
                                    <option value="level-2">level 2</option>
                                    <option value="level-3">level 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">
                                Department:
                            </label>
                            <div class="col-lg-6">
                                <select class="form-control" name="department" appSelectorTwo (onChange)="ChangeDept()" [(ngModel)]="_role_detail.department">
                                    <option value="">Select department</option>
                                    <option *ngFor="let department of _department_list" value="{{ department.id }}">
                                        {{ department.dept_name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group m-form__group row" *ngFor="let page of _list">
                            <label class="col-lg-2 col-form-label">
                                {{ page.page_name }}:
                            </label>
                            <div class="col-lg-6">
                                <div class="m-checkbox-inline">
                                    <label class="m-checkbox" *ngFor="let page_action of page.page_action">
                                        <input type="checkbox" value="{{ page.page_slug }}_{{ page_action.action }}" name="permission[]" [checked]="CheckPermission(_permission_list, page.page_slug + '_' + page_action.action)">
                                        <input type="hidden" value="{{ page_action.action }}" name="action[]">
                                        {{ page_action.action }}
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-6">
                                    <button type="submit" class="btn btn-primary">
                                        Save
                                    </button>
                                    <a routerLink="/level-1/role" class="btn btn-secondary">
                                        Cancel
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>
