<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                {{ GenerateCutomerName(_customer_detail) }}
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Clients
						</span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/level-3/crm/client/view/{{ _customer_detail.customer_id }}" class="m-nav__link">
						<span class="m-nav__link-text">
                            {{ GenerateCutomerName(_customer_detail) }}
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tabs">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-tools">
                        <ul class="nav nav-tabs m-tabs-line m-tabs-line--primary m-tabs-line--right" role="tablist">
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_1" role="tab">
                                    <i class="flaticon-exclamation-1"></i>
                                    Customer Info
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_2" role="tab">
                                    <i class="flaticon-information"></i>
                                    E Contact Info
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_3" role="tab">
                                    <i class="flaticon-transport"></i>
                                    Asset Info
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_6_4" role="tab">
                                    <i class="flaticon-chat-1"></i>
                                    Follow Up History
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="tab-content">
                        <div class="tab-pane" id="m_tabs_6_1" role="tabpanel">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th scope="row" style="width: 170px;">
                                        Customer ID:
                                    </th>
                                    <td>
                                        {{ _customer_detail.customer_id }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Customer Type:
                                    </th>
                                    <td>
                                        {{ _customer_detail.customer_type == 0?'Individual':'corporate' }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Customer Name:
                                    </th>
                                    <td>
                                        {{ GenerateCutomerName(_customer_detail) }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Customer ID Card:
                                    </th>
                                    <td>
                                        {{ _customer_detail.id_card_no }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        D.O.B:
                                    </th>
                                    <td>
                                        {{ _customer_detail.date_of_birthday }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Address:
                                    </th>
                                    <td>
                                        {{ _customer_detail.address_line_1 }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Mobile No:
                                    </th>
                                    <td>
                                        {{ _customer_detail.mobile_1 }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Phone (res):
                                    </th>
                                    <td>
                                        {{ _customer_detail.phone_1 }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Email address:
                                    </th>
                                    <td>
                                        {{ _customer_detail.email }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        N. Password:
                                    </th>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        E. Password:
                                    </th>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Mother Name:
                                    </th>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Web Login Password:
                                    </th>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Special Instruction:
                                    </th>
                                    <td>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div *ngFor="let active_ticket of _customer_detail.active_operational_ticket">
                                <div *ngIf="active_ticket.type == 0">
                                    <div class="m-separator m-separator--dashed"></div>
                                    <a class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill" routerLink="{{ LoadEditUrl(_customer_detail, active_ticket.operational_ticket_id) }}">
                                        <span>
                                            <i class="la la-edit"></i>
                                            <span>
                                                Edit
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="m_tabs_6_2" role="tabpanel">
                            <table class="table">
                                <tbody *ngFor="let info of _customer_detail.emergency_contact;let index=index">
                                    <tr>
                                        <th scope="row" style="width: 170px;">
                                            Contact Person {{ index + 1 }}:
                                        </th>
                                        <td>
                                            {{ info.contact_person_name }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            Relation:
                                        </th>
                                        <td>
                                            {{ info.contact_relation }}

                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            Mobile No:
                                        </th>
                                        <td>
                                            {{ info.mobile_no }}, {{ info.phone_no }}

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div *ngFor="let active_ticket of _customer_detail.active_operational_ticket">
                                <div *ngIf="active_ticket.type == 1">
                                    <div class="m-separator m-separator--dashed"></div>
                                    <a class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill" routerLink="/level-3/crm/client/update/emergency-contact/{{ active_ticket.operational_ticket_id }}/{{ _customer_detail.customer_id }}">
                                        <span>
                                            <i class="la la-edit"></i>
                                            <span>
                                                Edit
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="m_tabs_6_3" role="tabpanel">
                            <div *ngFor="let vehicle of _customer_detail.customer_vehicles;let index=index">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td colspan="3" style="border-top: 0;">
                                                <h5 style="padding: 20px 0 10px;">{{ vehicle.vehicle_id }}</h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" style="width: 100px;"></th>
                                            <th style="width: 170px;">
                                                Package:
                                            </th>
                                            <td>
                                                <a href="#" class="btn btn-primary" data-toggle="modal" (click)="OpenModel('m_modal_' + index)">
                                                    {{ vehicle.active_lead?vehicle.active_lead.lead_info.lead_proposal.proposal_package.package_name:'' }}
                                                </a>
                                                <!--begin::Modal-->
                                                <div class="modal fade" id="m_modal_{{ index }}" tabindex="-1" role="dialog" aria-labelledby="featureModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="featureModalLabel">
                                                                    {{ vehicle.active_lead?vehicle.active_lead.lead_info.lead_proposal.proposal_package.package_name:'' }}
                                                                </h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">
                                                                        &times;
                                                                    </span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <table class="table">
                                                                    <tbody>
                                                                        <tr *ngFor="let feature of vehicle.active_lead?vehicle.active_lead.lead_info.lead_proposal.proposal_package.package_features:[];">
                                                                            <th style="width: 170px; border-top: 0;">
                                                                                {{ feature.feature_name }}
                                                                            </th>
                                                                            <td style="border-top: 0;">
                                                                                Active
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                                    Close
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--end::Modal-->
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" style="width: 100px;"></th>
                                            <th style="width: 170px;">
                                                Plate No:
                                            </th>
                                            <td>
                                                {{ vehicle.plate_no }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" style="width: 100px;"></th>
                                            <th>
                                                Year Manufacturing:
                                            </th>
                                            <td>
                                                {{ vehicle.year_of_manufacturing }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" style="width: 100px;"></th>
                                            <th>
                                                Vehicle Make:
                                            </th>
                                            <td>
                                                {{ vehicle.vehicle_make }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" style="width: 100px;"></th>
                                            <th>
                                                Vehicle Model:
                                            </th>
                                            <td>
                                                {{ vehicle.vehicle_model }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" style="width: 100px;"></th>
                                            <th>
                                                Vehicle Color:
                                            </th>
                                            <td>
                                                {{ vehicle.vehicle_color }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" style="width: 100px;"></th>
                                            <th>
                                                Engine cc:
                                            </th>
                                            <td>
                                                {{ vehicle.vehicle_engine_cc }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" style="width: 100px;"></th>
                                            <th>
                                                Engine no:
                                            </th>
                                            <td>
                                                {{ vehicle.vehicle_engine_no }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" style="width: 100px;"></th>
                                            <th>
                                                Chassis no:
                                            </th>
                                            <td>
                                                {{ vehicle.vehicle_chassis_no }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <span *ngFor="let active_ticket of _customer_detail.active_operational_ticket">
                                    <span *ngIf="active_ticket.type == 2 && active_ticket.vehicle_id == vehicle.vehicle_id">
                                        <div class="m-separator m-separator--dashed"></div>
                                        <span style="width: 100px; display: inline-block;"></span>
                                        <a class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill" routerLink="/level-3/crm/client/update/vehicle/{{ active_ticket.operational_ticket_id }}/{{ vehicle.vehicle_id }}">
                                            <span>
                                                <i class="la la-edit"></i>
                                                <span>
                                                    Edit
                                                </span>
                                            </span>
                                        </a> &nbsp;
                                    </span>
                                </span>
                                <span *ngFor="let active_ticket of _customer_detail.active_operational_ticket">
                                    <span *ngIf="active_ticket.type == 4 && active_ticket.vehicle_id == vehicle.vehicle_id">
                                        <a class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill" href="#" ng-reflect-href="#" data-toggle="modal" data-target="#m_modal_11">
                                            <span>
                                                <i class="la la-trash"></i>
                                                <span>
                                                    Delete
                                                </span>
                                            </span>
                                        </a>
                                    </span>
                                </span>
                                <!--begin::Modal-->
                                <div class="modal fade" id="m_modal_11" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="m-alert m-alert--icon alert alert-danger" role="alert" style="margin: 0;">
                                            <div class="m-alert__icon">
                                                <i class="la la-warning"></i>
                                            </div>
                                            <div class="m-alert__text">
                                                <strong>
                                                    Are you sure you want to delete this Vehicle LE- 1441.
                                                </strong>
                                            </div>
                                        </div>
                                        <div class="modal-footer m--align-center" style="display: block;">
                                            <button type="button" class="btn btn-success" data-dismiss="modal">
                                                No
                                            </button>
                                            <a href="/de-insall" class="btn btn-danger">
                                                Yes
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end::Modal-->
                            </div>
                        </div>
                        <div class="tab-pane active" id="m_tabs_6_4" role="tabpanel">
                            <div class="m-scrollable" data-scrollable="true" data-max-height="800">
                                <div class="m-messenger m-messenger--message-arrow m-messenger--skin-light">
                                    <div class="m-messenger__messages" style="overflow: hidden;">
                                        <div *ngFor="let message of _customer_detail.follow_up_history">
                                            <div class="m-messenger__message m-messenger__message--in" *ngIf="message.commented_by == 1">
                                                <div class="m-messenger__message-pic">
                                                    <img src="./assets/uploads/images/profile/default.jpeg" alt=""/>
                                                </div>
                                                <div class="m-messenger__message-body">
                                                    <div class="m-messenger__message-arrow"></div>
                                                    <div class="m-messenger__message-content">
                                                        <div class="m-messenger__message-username">
                                                            {{ _customer_detail.customer_name }}
                                                        </div>
                                                        <div class="m-messenger__message-text">
                                                            {{ message.comment }}
                                                        </div>
                                                        <span>{{ message.created_at }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="float: left; width: 100%;"></div>
                                            <div class="m-messenger__message m-messenger__message--out" *ngIf="message.commented_by == 0">
                                                <div class="m-messenger__message-body">
                                                    <div class="m-messenger__message-arrow"></div>
                                                    <div class="m-messenger__message-content">
                                                        <div class="m-messenger__message-username" style="color: #fff;">
                                                            {{ GenerateName(message.user_info) }}
                                                        </div>
                                                        <div class="m-messenger__message-text" style="color: #fff;">
                                                            {{ message.comment }}
                                                        </div>
                                                        <span style="color: #fff;">{{ message.created_at }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="float: left; width: 100%;"></div>
                                        </div>
                                    </div>
                                    <div class="m-messenger__seperator"></div>
                                    <form action="javascript:;" (submit)="SaveComment($event)">
                                        <input type="hidden" name="customer_id" [(ngModel)]="_customer_detail.customer_id">
                                        <div class="m-messenger__form" style="display: block; max-width: 300px; margin-bottom: 15px;">
                                            <select class="form-control m-select2" appSelectorTwo name="commented_by">
                                                <option value="">Select message from</option>
                                                <option value="0">
                                                    From Agent
                                                </option>
                                                <option value="1">
                                                    From {{ _customer_detail.customer_name }}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="m-messenger__form">
                                            <div class="m-messenger__form-controls">
                                                <textarea class="form-control m-messenger__form-input m-input" placeholder="Type here..." rows="3" name="comment"></textarea>
                                            </div>
                                            <div class="m-messenger__form-tools">
                                                <button type="submit" class="m-messenger__form-attachment" style="border: 0;">
                                                    <i class="la la-send"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Portlet-->
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tabs">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                De-Install of Device
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8">
                            Temp./Permanent De-Install of Device or Services
                        </div>
                        <div class="col-xs-12 col-sm-4 m--align-right">
                            <a href="#" class="btn btn-primary m-btn m-btn--icon m-btn--pill" data-toggle="modal" data-target="#m_modal_1">
								<span>
									<i class="la la-trash"></i>
									<span>Delete Services</span>
								</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Portlet-->
            <!--begin::Modal-->
            <div class="modal fade" id="m_modal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="m-alert m-alert--icon alert alert-danger" role="alert" style="margin: 0;">
                            <div class="m-alert__icon">
                                <i class="la la-warning"></i>
                            </div>
                            <div class="m-alert__text">
                                <strong>
                                    Are you sure you want to delete this Services.
                                </strong>
                            </div>
                        </div>
                        <div class="modal-footer m--align-center" style="display: block;">
                            <button type="button" class="btn btn-success" data-dismiss="modal">
                                No
                            </button>
                            <a href="/de-insall" class="btn btn-danger">
                                Yes
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Modal-->
        </div>
    </div>
</div>
