<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Clients
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a routerLink="/level-3/sale/clients" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/level-3/sale/clients" class="m-nav__link">
						<span class="m-nav__link-text">
							Clients
						</span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/level-3/sale/client/view/:client_id/{{ _customer_detail.customer_id }}" class="m-nav__link">
						<span class="m-nav__link-text">
							{{ _customer_detail.customer_name }}
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                        <div class="row align-items-center">
                            <div class="col-xl-8 order-2 order-xl-1">
                                <h3 class="m-portlet__head-text">
                                    {{ _customer_detail.customer_name }}
                                </h3>
                            </div>
                            <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                                <a class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill" routerLink="{{ LoadEditUrl(_customer_detail.customer_type, _customer_detail.customer_id) }}">
								<span>
									<i class="la la-edit"></i>
									<span>
										Edit
									</span>
								</span>
                                </a>
                                <div class="m-separator m-separator--dashed d-xl-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                </div>
                <div class="m-portlet__body">
                    <div class="m-section">
                        <div class="m-section__content">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th scope="row" style="width: 170px; border-top: 0;">
                                        Agent:
                                    </th>
                                    <td style="border-top: 0;">
                                        {{ _customer_detail.customer_type == 0?'Individual':'corporate' }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Customer Type:
                                    </th>
                                    <td>
                                        {{ _customer_detail.customer_type == 0?'Individual':'corporate' }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Customer Name:
                                    </th>
                                    <td>
                                        {{ GenerateCutomerName(_customer_detail) }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Customer ID Card:
                                    </th>
                                    <td>
                                        {{ _customer_detail.id_card_no }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        D.O.B:
                                    </th>
                                    <td>
                                        {{ _customer_detail.date_of_birthday }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Address:
                                    </th>
                                    <td>
                                        {{ _customer_detail.address_line_1 }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Mobile No:
                                    </th>
                                    <td>
                                        {{ _customer_detail.mobile_1 }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Phone (res):
                                    </th>
                                    <td>
                                        {{ _customer_detail.phone_1 }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Email address:
                                    </th>
                                    <td>
                                        {{ _customer_detail.email }}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2"><h5 style="padding: 20px 0 10px;">Follow Up History:</h5></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="m-messenger m-messenger--message-arrow m-messenger--skin-light">
                                <div class="m-messenger__messages" style="overflow: hidden;">
                                    <div *ngFor="let message of _customer_detail.follow_up_history">
                                        <div class="m-messenger__message m-messenger__message--in" *ngIf="message.commented_by == 1">
                                            <div class="m-messenger__message-pic">
                                                <img src="./assets/uploads/images/profile/default.jpeg" alt=""/>
                                            </div>
                                            <div class="m-messenger__message-body">
                                                <div class="m-messenger__message-arrow"></div>
                                                <div class="m-messenger__message-content">
                                                    <div class="m-messenger__message-username">
                                                        {{ _customer_detail.customer_name }}
                                                    </div>
                                                    <div class="m-messenger__message-text">
                                                        {{ message.comment }}
                                                    </div>
                                                    <span>{{ message.created_at }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="float: left; width: 100%;"></div>
                                        <div class="m-messenger__message m-messenger__message--out" *ngIf="message.commented_by == 0">
                                            <div class="m-messenger__message-body">
                                                <div class="m-messenger__message-arrow"></div>
                                                <div class="m-messenger__message-content">
                                                    <div class="m-messenger__message-username" style="color: #fff;">
                                                        {{ GenerateName(message.user_info) }}
                                                    </div>
                                                    <div class="m-messenger__message-text" style="color: #fff;">
                                                        {{ message.comment }}
                                                    </div>
                                                    <span style="color: #fff;">{{ message.created_at }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="float: left; width: 100%;"></div>
                                    </div>
                                </div>
                                <div class="m-messenger__seperator"></div>
                                <form action="javascript:;" (submit)="SaveComment($event)">
                                    <input type="hidden" name="customer_id" [(ngModel)]="_customer_detail.customer_id">
                                    <div class="m-messenger__form" style="display: block; max-width: 300px; margin-bottom: 15px;">
                                        <select class="form-control m-select2" appSelectorTwo name="commented_by">
                                            <option value="">Select message from</option>
                                            <option value="0">
                                                From Agent
                                            </option>
                                            <option value="1">
                                                From {{ _customer_detail.customer_name }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="m-messenger__form">
                                        <div class="m-messenger__form-controls">
                                            <textarea class="form-control m-messenger__form-input m-input" placeholder="Type here..." rows="3" name="comment"></textarea>
                                        </div>
                                        <div class="m-messenger__form-tools">
                                            <button type="submit" class="m-messenger__form-attachment" style="border: 0;">
                                                <i class="la la-send"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>
