<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Update Emergency contact
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a routerLink="/level-3/crm/clients" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/level-3/crm/clients" class="m-nav__link">
						<span class="m-nav__link-text">
							Client's
						</span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/level-3/sale/client/update/individual/{{ opt_id }}/{{ client_id }}" class="m-nav__link">
						<span class="m-nav__link-text">
							Client Emergency contact
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Form-->
            <form class="m-form m-form--label-align-right" action="javascript:;" (submit)="SaveClient($event)">
                <input type="hidden" name="id" [(ngModel)]="client_id">
                <input type="hidden" name="opt_id" [(ngModel)]="opt_id">
                <div class="m-portlet__body">
                    <div class="m-form__section m-form__section--first">
                        <div class="form-group m-form__group row">
                            <div class="col-md-6">
                                <label>
                                    Contact Person 1:
                                </label>
                                <input type="text" class="form-control m-input" placeholder="Enter contact person name" name="contact_person_name[]" value="{{ EmergencyContactPerson(_contact_detail, 0) }}">
                                <span class="m-form__help">
                                    Please enter contact person name
                                </span>
                            </div>
                            <div class="col-md-6">
                                <label>
                                    Contact Person Relation:
                                </label>
                                <input type="text" class="form-control m-input" placeholder="Enter contact person relation" name="contact_relation[]" value="{{ EmergencyContactPersonRel(_contact_detail, 0) }}">
                                <span class="m-form__help">
                                    Please enter contact person relation
                                </span>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-md-6">
                                <label>
                                    Mobile No:
                                </label>
                                <input type="text" class="form-control m-input" placeholder="Enter company mobile" name="mobile_no[]" value="{{ EmergencyContactPersonMobile(_contact_detail, 0) }}">
                                <span class="m-form__help" style="margin-bottom: 15px;">
                                    Please enter company mobile number
                                </span>
                            </div>
                            <div class="col-md-6">
                                <label>
                                    &nbsp;
                                </label>
                                <input type="text" class="form-control m-input" placeholder="Enter company phone" name="phone_no[]" value="{{ EmergencyContactPersonPhone(_contact_detail, 0) }}">
                                <span class="m-form__help">
                                    Please enter company alternative mobile number
                                </span>
                            </div>
                        </div>
                        <div class="m-form__seperator m-form__seperator--dashed"></div>
                        <div class="form-group m-form__group row">
                            <div class="col-md-6">
                                <label>
                                    Contact Person 2:
                                </label>
                                <input type="text" class="form-control m-input" placeholder="Enter contact person name" name="contact_person_name[]" value="{{ EmergencyContactPerson(_contact_detail, 1) }}">
                                <span class="m-form__help">
                                    Please enter contact person name
                                </span>
                            </div>
                            <div class="col-md-6">
                                <label>
                                    Contact Person Relation:
                                </label>
                                <input type="text" class="form-control m-input" placeholder="Enter contact person relation" name="contact_relation[]" value="{{ EmergencyContactPersonRel(_contact_detail, 1) }}">
                                <span class="m-form__help">
										Please enter contact person relation
									</span>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-md-6">
                                <label>
                                    Mobile No:
                                </label>
                                <input type="text" class="form-control m-input" placeholder="Enter company mobile" name="mobile_no[]" value="{{ EmergencyContactPersonMobile(_contact_detail, 1) }}">
                                <span class="m-form__help" style="margin-bottom: 15px;">
                                    Please enter company mobile number
                                </span>
                            </div>
                            <div class="col-md-6">
                                <label>
                                    &nbsp;
                                </label>
                                <input type="text" class="form-control m-input" placeholder="Enter company phone" name="phone_no[]" value="{{ EmergencyContactPersonPhone(_contact_detail, 1) }}">
                                <span class="m-form__help">
                                    Please enter company alternative mobile number
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                    <div class="m-form__actions">
                        <div class="row">
                            <div class="row">
                                <button type="submit" class="btn btn-primary">
                                    Submit
                                </button> &nbsp; &nbsp;
                                <a routerLink="/level-3/crm/clients" class="btn btn-secondary">
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!--end::Form-->
        </div>
    </div>
</div>
