<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">
                Dashboard
            </h3>
        </div>
        <div>
			<span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
				<span class="m-subheader__daterange-label">
					<span class="m-subheader__daterange-title"></span>
					<span class="m-subheader__daterange-date m--font-brand"></span>
				</span>
				<a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
					<i class="la la-angle-down"></i>
				</a>
			</span>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <!--Begin::Main Portlet-->
    <div class="m-portlet">
        <div class="m-portlet__body  m-portlet__body--no-padding">
            <div class="row m-row--no-padding m-row--col-separator-xl">
                <div class="col-xl-4">
                    <!--begin:: Widgets/Daily Sales-->
                    <div class="m-widget14">
                        <div class="m-widget14__header m--margin-bottom-30">
                            <h3 class="m-widget14__title">
                                Monthly Sales
                            </h3>
                            <span class="m-widget14__desc">
								Check out each collumn for more details
							</span>
                        </div>
                        <div class="m-widget14__chart" style="height:120px;">
                            <canvas id="m_chart_daily_sales"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="m-widget14">
                        <div class="m-widget14__header">
                            <h3 class="m-widget14__title">
                                Leads Chart
                            </h3>
                            <span class="m-widget14__desc">
								Average Leads/Sales Monthly Chart
							</span>
                        </div>
                        <div class="row  align-items-center">
                            <div class="col">
                                <div id="m_chart_profit_share" class="m-widget14__chart" style="height: 160px">
                                    <div class="m-widget14__stat">

                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="m-widget14__legends">
                                    <div class="m-widget14__legend">
                                        <span class="m-widget14__legend-bullet m--bg-brand"></span>
                                        <span class="m-widget14__legend-text">
											Total Leads
										</span>
                                    </div>
                                    <div class="m-widget14__legend">
                                        <span class="m-widget14__legend-bullet m--bg-accent"></span>
                                        <span class="m-widget14__legend-text">
											Total Sales
										</span>
                                    </div>
                                    <div class="m-widget14__legend">
                                        <span class="m-widget14__legend-bullet m--bg-warning"></span>
                                        <span class="m-widget14__legend-text">
											Total Clients
										</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end:: Widgets/Profit Share-->
                </div>
                <div class="col-xl-4">
                    <!--begin:: Widgets/Support Stats-->
                    <div class="m-widget1">
                        <div class="m-widget1__item">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">
                                        New Proposal
                                    </h3>
                                    <span class="m-widget1__desc">
										Number of New Proposal Created
									</span>
                                </div>
                                <div class="col m--align-right">
									<span class="m-widget1__number m--font-focus">
                                        {{ _data.total_proposals }}
									</span>
                                </div>
                            </div>
                        </div>
                        <div class="m-widget1__item">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">
                                        Approved Proposal
                                    </h3>
                                    <span class="m-widget1__desc">
										Number of Approved Proposal Created
									</span>
                                </div>
                                <div class="col m--align-right">
									<span class="m-widget1__number m--font-accent">
                                        {{ _data.approved_proposals }}
									</span>
                                </div>
                            </div>
                        </div>
                        <div class="m-widget1__item">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">
                                        No of Sales
                                    </h3>
                                    <span class="m-widget1__desc">
										Number of Sales
									</span>
                                </div>
                                <div class="col m--align-right">
									<span class="m-widget1__number m--font-info">
										{{ _data.total_user_sales }}
									</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end:: Widgets/Support Stats-->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-8">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Latest Leads
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <!--begin: Datatable -->
                    <div class="m-datatable m-datatable--default m-datatable--primary m-datatable--loaded">
                        <table class="m-datatable__table">
                            <thead class="m-datatable__head">
                            <tr class="m-datatable__row" style="height: 53px;">
                                <th class="m-datatable__cell" style="width: 15%;"> &nbsp; &nbsp; Lead ID</th>
                                <th class="m-datatable__cell" style="width: 18%;">Client Name</th>
                                <th class="m-datatable__cell" style="width: 17%;">Proposal</th>
                                <th class="m-datatable__cell" style="width: 15%;">Created At</th>
                                <th class="m-datatable__cell" style="width: 12%;">Status</th>
                            </tr>
                            </thead>
                            <tbody class="m-datatable__body">
                            <tr class="m-datatable__row m-datatable__row--even" *ngFor="let lead of _data.leads">
                                <td class="m-datatable__cell" style="width: 15%;"> &nbsp; &nbsp; {{ lead.lead_id }}</td>
                                <td class="m-datatable__cell" style="width: 18%;">{{ lead.lead_proposal.client_info.customer_name }}</td>
                                <td class="m-datatable__cell" style="width: 17%;">{{ lead.lead_proposal.name }}</td>
                                <td class="m-datatable__cell" style="width: 15%;">{{ lead.created_at }}</td>
                                <td class="m-datatable__cell" style="width: 12%;"><span class="m-badge m-badge--{{ LeadStatusColor(lead.status) }} m-badge--wide" style="color: #fff; display: inline-block;">{{ LeadStatus(lead.status) }}</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--end: Datatable -->
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <!--begin:: Widgets/Audit Log-->
            <div class="m-portlet m-portlet--full-height">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Activity Logs
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="m_widget4_tab1_content">
                            <div class="m-scrollable" data-scrollable="true" data-max-height="400" style="height: 400px; overflow: hidden;">
                                <div class="m-list-timeline m-list-timeline--skin-light">
                                    <div class="m-list-timeline__items">
                                        <div class="m-list-timeline__item" *ngFor="let notify of _data.notification">
                                            <span class="m-list-timeline__badge -m-list-timeline__badge--state-success"></span>
                                            <span class="m-list-timeline__text">
                                                {{ notify.message }}
                                            </span>
                                            <span class="m-list-timeline__time">
                                                {{ notify.created_at }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end:: Widgets/Audit Log-->
        </div>
    </div>
    <!--End::Main Portlet-->
</div>
