<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                User Management
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a routerLink="/level-1/user" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/level-1/user" class="m-nav__link">
						<span class="m-nav__link-text">
							User's
						</span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/level-1/user/view-user/{{ _user_detail.user_id }}" class="m-nav__link">
						<span class="m-nav__link-text">
							View {{ _user_detail.first_name + ' ' + _user_detail.last_name }} User
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
                            <h3 class="m-portlet__head-text">
                                {{ _user_detail.first_name + ' ' + _user_detail.last_name }} User
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-section">
                        <div class="m-section__content">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th scope="row" style="width: 20%; border-top: 0;">
                                        Name:
                                    </th>
                                    <td style="border-top: 0;">
                                        {{ GenerateName(_user_detail) }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Email:
                                    </th>
                                    <td>
                                        {{ _user_detail.email }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Phone Number:
                                    </th>
                                    <td>
                                        {{ _user_detail.phone }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Date of Birth:
                                    </th>
                                    <td>
                                        {{ _user_detail.date_of_birthday }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Address:
                                    </th>
                                    <td>
                                        {{ _user_detail.address_line_1 }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Department:
                                    </th>
                                    <td>
                                        {{ _user_detail.department }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Job Post:
                                    </th>
                                    <td>
                                        {{ _user_detail.job_post }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Role Selection:
                                    </th>
                                    <td *ngFor="let role of _user_detail.roles">
                                        {{ role.name }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Access Level:
                                    </th>
                                    <td>
                                        {{ _user_detail.level }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Description:
                                    </th>
                                    <td>
                                        {{ _user_detail.description }}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-10">
                                    <a routerLink="/level-1/user/update-user/{{ _user_detail.user_id }}" class="btn btn-brand">
                                        Edit
                                    </a>
                                    <a routerLink="/level-1/user" class="btn btn-secondary">
                                        Back
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>
