<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Ticket id = {{ _ticket_detail.ticket_id }}
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a routerLink="/level-3/crm/tickets" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/level-3/crm/ticket/view/{{ _ticket_detail.ticket_id }}" class="m-nav__link">
						<span class="m-nav__link-text">
							Tickets
						</span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/level-3/crm/ticket/view/{{ _ticket_detail.ticket_id }}" class="m-nav__link">
						<span class="m-nav__link-text">
							Ticket Details
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__body">
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-sm-12">
                            <h5>{{ _ticket_detail.ticket_title }}</h5>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-sm-6">
                            <p><span class="m--font-bolder">Status:</span> &nbsp;
                                <span class="m-badge {{_ticket_detail.status == 0?'m-badge--success':'m-badge--accent'  }} m-badge--wide">{{_ticket_detail.status == 0?'Open':'Close'  }}</span>
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p><span class="m--font-bolder">Priority:</span> &nbsp;
                                <span class="m-badge m-badge--{{ TicketPriorityColor(_ticket_detail.priority_level) }} m-badge--wide" style="color: #fff; display: inline-block;">
                                    {{ TicketPriority(_ticket_detail.priority_level) }}
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-sm-6">
                            <p><span class="m--font-bolder">Ticket created by:</span> &nbsp;
                                <span href="javascript:;" class="m-badge m-badge-primary">&nbsp; {{ GenerateName(_ticket_detail.user_info) }} &nbsp;</span>
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p><span class="m--font-bolder">Tickets assign to:</span> &nbsp;
                                <span data-toggle="modal" data-target="#delete-model-popup" *ngFor="let assign_user of _ticket_detail.assigned_to; let last = last" style="cursor: pointer;" (click)="DeleteItem(assign_user)">
                                    <span class="m-badge m-badge--info m-badge--wide">{{ GenerateName(assign_user.assigned_user_info) }} <i style="font-size: 0.9em;" class="flaticon-close"></i></span>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-sm-6">
                            <p><span class="m--font-bolder">Entry Date/Time:</span> {{ _ticket_detail.created_at }}</p>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-sm-6">
                            <!-- change priority -->
                            <form class="m-form m-form--label-align-right" action="javascript:;" (submit)="UpdatePriority($event)">
                                <input type="hidden" name="ticket_id" [(ngModel)]="_ticket_detail.ticket_id">
                                <label>
                                    Change Priority:
                                </label>
                                <div class="m-form__group m-form__group--inline">
                                    <div class="m-form__control">
                                        <select class="form-control" appSelectorTwo name="priority_level">
                                            <option value="">
                                                All
                                            </option>
                                            <option *ngFor="let priority of _priority_list" value="{{ priority.id }}">
                                                {{ priority.name }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="m-form__label" style="padding: 0 0 0 0.5rem;">
                                        <button class="btn btn-primary" type="submit">update</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-6">
                            <!-- change status -->
                            <form class="m-form m-form--label-align-right" action="javascript:;" (submit)="UpdateStatus($event)">
                                <input type="hidden" name="ticket_id" [(ngModel)]="_ticket_detail.ticket_id">
                                <label>
                                    Change Status:
                                </label>
                                <div class="m-form__group m-form__group--inline">
                                    <div class="m-form__control">
                                        <select class="form-control" appSelectorTwo name="status">
                                            <option value="">
                                                All
                                            </option>
                                            <option value="0">
                                                Open
                                            </option>
                                            <option value="1">
                                                Closed
                                            </option>
                                        </select>
                                    </div>
                                    <div class="m-form__label" style="padding: 0 0 0 0.5rem;">
                                        <button class="btn btn-primary" type="submit">update</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 30px;">
                        <div class="col-sm-6">
                            <!-- Change Agent -->
                            <form class="m-form m-form--label-align-right" action="javascript:;" (submit)="AssignClient($event)">
                                <input type="hidden" name="ticket_id" [(ngModel)]="_ticket_detail.ticket_id">
                                <label>
                                    Assign to a different Agent:
                                </label>
                                <div class="m-form__group m-form__group--inline">
                                    <div class="m-form__control">
                                        <select class="form-control" appSelectorTwo name="assigned_to">
                                            <option value="">
                                                All
                                            </option>
                                            <option *ngFor="let user of _user_list" value="{{ user.user_id }}">
                                                {{ GenerateName(user) }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="m-form__label" style="padding: 0 0 0 0.5rem;">
                                        <button class="btn btn-primary" type="submit">update</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="row">
                        <div class="col-lg-12">
                            <!--begin::Portlet-->
                            <div class="m-messenger m-messenger--message-arrow m-messenger--skin-light">
                                <div class="m-messenger__messages" style="overflow: hidden;">
                                    <div *ngFor="let message of _ticket_detail.follow_up_history">
                                        <div class="m-messenger__message m-messenger__message--in" *ngIf="message.commented_by == 1">
                                            <div class="m-messenger__message-pic">
                                                <img src="./assets/uploads/images/profile/default.jpeg" alt=""/>
                                            </div>
                                            <div class="m-messenger__message-body">
                                                <div class="m-messenger__message-arrow"></div>
                                                <div class="m-messenger__message-content">
                                                    <div class="m-messenger__message-username">
                                                        {{ _ticket_detail.customer_info.customer_name }}
                                                    </div>
                                                    <div class="m-messenger__message-text">
                                                        {{ message.comment }}
                                                    </div>
                                                    <span>{{ message.created_at }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="float: left; width: 100%;"></div>
                                        <div class="m-messenger__message m-messenger__message--out" *ngIf="message.commented_by == 0">
                                            <div class="m-messenger__message-body">
                                                <div class="m-messenger__message-arrow"></div>
                                                <div class="m-messenger__message-content">
                                                    <div class="m-messenger__message-username" style="color: #fff;">
                                                        {{ GenerateName(message.user_info) }}
                                                    </div>
                                                    <div class="m-messenger__message-text" style="color: #fff;">
                                                        {{ message.comment }}
                                                    </div>
                                                    <span style="color: #fff;">{{ message.created_at }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="float: left; width: 100%;"></div>
                                    </div>
                                </div>
                                <div class="m-messenger__seperator"></div>
                                <div class="m-messenger__form" style="display: block; max-width: 300px; margin-bottom: 15px;">
                                    <select class="form-control m-select2" appSelectorTwo name="commented_by" (onChange)="commented_by = $event">
                                        <option value="">
                                            Select user
                                        </option>
                                        <option value="0">
                                            From Client
                                        </option>
                                        <option value="1">
                                            From {{ GenerateName(_ticket_detail.user_info) }}
                                        </option>
                                    </select>
                                </div>
                                <div class="m-messenger__form">
                                    <div class="m-messenger__form-controls">
                                        <textarea class="form-control m-messenger__form-input m-input" placeholder="Type here..." name="comment" rows="3" [(ngModel)]="comment"></textarea>
                                    </div>
                                    <div class="m-messenger__form-tools">
                                        <button class="m-messenger__form-attachment" type="button" (click)="SaveComment()" style="border: 0;">
                                            <i class="la la-send"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!--end::Portlet-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--begin::Modal-->
<div class="modal fade" id="delete-model-popup" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="m-alert m-alert--icon alert alert-danger" role="alert" style="margin: 0;">
                <div class="m-alert__icon">
                    <i class="la la-warning"></i>
                </div>
                <div class="m-alert__text">
                    <strong>
                        Are you sure you want to Unassigned this ticket to Agent.
                    </strong>
                </div>
            </div>
            <div class="modal-footer m--align-center" style="display: block;">
                <button type="button" class="btn btn-success" data-dismiss="modal">
                    No
                </button> &nbsp; &nbsp;
                <button type="button" class="btn btn-danger" (click)="ConfirmedDeleteItem()">
                    Yes
                </button>
            </div>
        </div>
    </div>
</div>
<!--end::Modal-->
