<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Leads
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a routerLink="/level-2/hod/crm/leads" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/level-2/hod/crm/leads" class="m-nav__link">
						<span class="m-nav__link-text">
							Leads
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
        <div class="m-alert__icon">
            <i class="flaticon-exclamation m--font-primary"></i>
        </div>
        <div class="m-alert__text">
            List of all leads which you have.
        </div>
    </div>
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">
                            <div class="col-md-4">
                                <div class="m-form__group m-form__group--inline">
                                    <div class="m-form__label">
                                        <label>
                                            Status:
                                        </label>
                                    </div>
                                    <div class="m-form__control">
                                        <select class="form-control" appSelectorTwo (onChange)="status = $event">
                                            <option value="">
                                                All
                                            </option>
                                            <option *ngFor="let status of _status_list" value="{{ status.id }}">
                                                {{ status.name }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="d-md-none m--margin-bottom-10"></div>
                            </div>
                            <div class="col-md-4">
                                <div class="m-input-icon m-input-icon--left">
                                    <input type="text" class="form-control m-input" placeholder="Search..." [(ngModel)]="filter">
                                    <span class="m-input-icon__icon m-input-icon__icon--left">
										<span>
											<i class="la la-search"></i>
										</span>
									</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
            <!--begin: Datatable -->
            <div class="m-datatable m-datatable--default m-datatable--primary m-datatable--loaded">
                <table class="m-datatable__table">
                    <thead class="m-datatable__head">
                        <tr class="m-datatable__row" style="height: 53px;">
                            <th class="m-datatable__cell" style="width: 15%;"> &nbsp; &nbsp; Lead ID</th>
                            <th class="m-datatable__cell" style="width: 18%;">Client Name</th>
                            <th class="m-datatable__cell" style="width: 17%;">Assigned to</th>
                            <th class="m-datatable__cell" style="width: 15%;">Created At</th>
                            <th class="m-datatable__cell" style="width: 12%;">Status</th>
                            <th class="m-datatable__cell" style="width: 8%;">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="m-datatable__body">
                        <tr class="m-datatable__row m-datatable__row--even" *ngFor="let lead of _lead_list | filter:filter | filter:status:'status';">
                            <td class="m-datatable__cell" style="width: 15%;"> &nbsp; &nbsp;
                                {{ lead.lead_id }}
                            </td>
                            <td class="m-datatable__cell" style="width: 18%;">
                                {{ lead.lead_proposal.client_info.customer_name }}
                            </td>
                            <td class="m-datatable__cell" style="width: 17%;">
                                <span *ngFor="let assign_agent of lead.agents">
                                    {{ GenerateAssignedByName(assign_agent.assigned_to) }}
                                </span>
                            </td>
                            <td class="m-datatable__cell" style="width: 15%;">
                                {{ lead.created_at }}
                            </td>
                            <td class="m-datatable__cell" style="width: 12%;">
                                <span class="m-badge m-badge--{{ LeadStatusColor(lead.status) }} m-badge--wide" style="color: #fff; display: inline-block;">
                                    {{ LeadStatus(lead.status) }}
                                </span>
                            </td>
                            <td class="m-datatable__cell" style="width: 8%;">
                                <a routerLink="/level-2/hod/crm/lead/update/{{ lead.lead_id }}" class="m-portlet__nav-link btn m-btn m-btn--hover-primary m-btn--icon m-btn--icon-only m-btn--pill" title="Edit details">
                                    <i class="la la-edit"></i>
                                </a>
                                <a  data-toggle="modal" data-target="#add-model-popup" class="m-portlet__nav-link btn m-btn m-btn--hover-primary m-btn--icon m-btn--icon-only m-btn--pill" title="Assign it to Agent" (click)="LoadAgentsData(lead.lead_id)">
                                    <i class="la la-male"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--end: Datatable -->
        </div>
    </div>
</div>
<!--begin::Modal-->
<div class="modal fade" id="add-model-popup" tabindex="-1" role="dialog" aria-labelledby="AddModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="m-alert m-alert--icon alert alert-danger" role="alert" style="margin: 0;">
                <div class="m-alert__icon">
                    <i class="la la-warning"></i>
                </div>
                <div class="m-alert__text">
                    <strong>
                        Are you sure you want to assign this lead to Agent.
                    </strong>
                </div>
            </div>
            <div class="modal-footer" style="display: block;">
                <div class="col-xs-12" style="margin-bottom: 20px;">
                    <span data-toggle="modal" data-target="#delete-model-popup" style="cursor: pointer;" *ngFor="let assign_agent of _assigned_agents" (click)="DeleteItem(assign_agent)">
                        <span class="m-badge m-badge--info m-badge--wide">
                            {{ GenerateAssignedByName(assign_agent.assigned_to) }} <i style="font-size: 0.9em;" class="flaticon-close"></i>
                        </span>
                    </span>
                </div>
                <div class="col-xs-12">
                    <div class="form-group m-form__group row">
                        <label class="col-4 col-form-label">Select Agent:</label>
                        <div class="col-8">
                            <select class="form-control" appSelectorTwo (onChange)="_new_agent = $event">
                                <option value="">
                                    All
                                </option>
                                <option *ngFor="let agent of _agent_list" value="{{ agent.user_id }}">
                                    {{ GenerateAssignedByName(agent) }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="d-md-none m--margin-bottom-10"></div>
                </div>
                <div class="m--align-center">
                    <button type="button" class="btn btn-success" data-dismiss="modal">
                        No
                    </button> &nbsp; &nbsp;
                    <button type="button" class="btn btn-danger" (click)="AssignAgent()">
                        Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end::Modal-->
<!--begin::Modal-->
<div class="modal fade" id="delete-model-popup" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="m-alert m-alert--icon alert alert-danger" role="alert" style="margin: 0;">
                <div class="m-alert__icon">
                    <i class="la la-warning"></i>
                </div>
                <div class="m-alert__text">
                    <strong>
                        Are you sure you want to Unassigned this lead to Agent.
                    </strong>
                </div>
            </div>
            <div class="modal-footer m--align-center" style="display: block;">
                <button type="button" class="btn btn-success" data-dismiss="modal">
                    No
                </button> &nbsp; &nbsp;
                <button type="button" class="btn btn-danger" (click)="ConfirmedDeleteItem()">
                    Yes
                </button>
            </div>
        </div>
    </div>
</div>
<!--end::Modal-->