<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Packages Plans
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a routerLink="/level-1/feature" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/level-1/feature" class="m-nav__link">
						<span class="m-nav__link-text">
							Features
						</span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/level-1/feature/update-feature/{{ _feature_detail.feature_id }}" class="m-nav__link">
						<span class="m-nav__link-text">
							{{ _feature_detail.feature_name }}
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
                            <h3 class="m-portlet__head-text">
                                Edit {{ _feature_detail.feature_name }}
                            </h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" action="javascript:;" (submit)="SaveFeature($event)">
                    <input type="hidden" [(ngModel)]="_feature_detail.feature_id" name="id">
                    <div class="m-portlet__body">
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">
                                Name:
                            </label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control m-input" placeholder="Enter feature name" name="feature_name" [(ngModel)]="_feature_detail.feature_name">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">
                                Cost Price:
                            </label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control m-input" placeholder="Enter cost price" name="feature_cost_price" [(ngModel)]="_feature_detail.feature_cost_price">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">
                                Sales Price:
                            </label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control m-input" placeholder="Enter sale price" name="feature_sale_price" [(ngModel)]="_feature_detail.feature_sale_price">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">
                                Type:
                            </label>
                            <div class="col-lg-6">
                                <select class="form-control" id="feature_type" name="feature_type" [(ngModel)]="_feature_detail.feature_type">
                                    <option [value]="1">
                                        Hardware Feature
                                    </option>
                                    <option [value]="0">
                                        Soft Feature
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">
                                Description:
                            </label>
                            <div class="col-lg-6">
                                <textarea class="form-control m-input" id="feature_description" rows="3" name="feature_description" [(ngModel)]="_feature_detail.feature_description"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-6">
                                    <button type="submit" class="btn btn-primary">
                                        Save
                                    </button>
                                    <a routerLink="/level-1/feature" class="btn btn-secondary">
                                        Cancel
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>
