<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Leads
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a routerLink="level-3/leads" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="level-3/leads" class="m-nav__link">
						<span class="m-nav__link-text">
							Leads
						</span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="level-3/lead/view/:lead_id/{{ _lead_detail.lead_id }}" class="m-nav__link">
						<span class="m-nav__link-text">
							{{ _lead_detail.lead_id }}
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="row"></div>
                <div class="m-portlet__body">
                    <div class="m-section">
                        <div class="m-section__content">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th scope="row" style="width: 170px; border-top: 0;">
                                        Status:
                                    </th>
                                    <td style="border-top: 0;">
                                        <span class="m-badge m-badge--primary m-badge--wide" style="color: #fff; display: inline-block;">{{ LeadStatus(_lead_detail.status) }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" style="width: 170px;">
                                        Proposal:
                                    </th>
                                    <td>
                                        <a href="{{ GenerateLink(_lead_detail.lead_proposal) }}" target="_blank">
                                            {{ _lead_detail.lead_proposal?_lead_detail.lead_proposal.proposal_id:'' }}
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Customer Name:
                                    </th>
                                    <td>
                                        {{ _lead_detail.lead_proposal?_lead_detail.lead_proposal.client_info.customer_name:'' }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Customer ID Card:
                                    </th>
                                    <td>
                                        {{ _lead_detail.lead_proposal?_lead_detail.lead_proposal.client_info.id_card_no:'' }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        D.O.B:
                                    </th>
                                    <td>
                                        {{ _lead_detail.lead_proposal?_lead_detail.lead_proposal.client_info.date_of_birthday:'' }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Address:
                                    </th>
                                    <td>
                                        {{ _lead_detail.lead_proposal?_lead_detail.lead_proposal.client_info.address_line_1:'' }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Mobile No:
                                    </th>
                                    <td>
                                        {{ _lead_detail.lead_proposal?_lead_detail.lead_proposal.client_info.mobile_1:'' }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Phone (res):
                                    </th>
                                    <td>
                                        {{ _lead_detail.lead_proposal?_lead_detail.lead_proposal.client_info.phone_1:'' }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Email address:
                                    </th>
                                    <td>
                                        {{ _lead_detail.lead_proposal?_lead_detail.lead_proposal.client_info.email:'' }}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2"><h5 style="padding: 20px 0 10px;">Follow Up History:</h5></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="m-messenger m-messenger--message-arrow m-messenger--skin-light">
                                <div class="m-messenger__messages" style="overflow: hidden;">
                                    <div *ngFor="let message of _lead_detail.lead_follow_up_history">
                                        <div class="m-messenger__message m-messenger__message--in" *ngIf="message.commented_by == 1">
                                            <div class="m-messenger__message-pic">
                                                <img src="./assets/uploads/images/profile/default.jpeg" alt=""/>
                                            </div>
                                            <div class="m-messenger__message-body">
                                                <div class="m-messenger__message-arrow"></div>
                                                <div class="m-messenger__message-content">
                                                    <div class="m-messenger__message-username">
                                                        {{ _lead_detail.lead_proposal.client_info.customer_name }}
                                                    </div>
                                                    <div class="m-messenger__message-text">
                                                        {{ message.comment }}
                                                    </div>
                                                    <span>{{ message.created_at }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="float: left; width: 100%;"></div>
                                        <div class="m-messenger__message m-messenger__message--out" *ngIf="message.commented_by == 0">
                                            <div class="m-messenger__message-body">
                                                <div class="m-messenger__message-arrow"></div>
                                                <div class="m-messenger__message-content">
                                                    <div class="m-messenger__message-username" style="color: #fff;">
                                                        {{ GenerateName(message.user_info) }}
                                                    </div>
                                                    <div class="m-messenger__message-text" style="color: #fff;">
                                                        {{ message.comment }}
                                                    </div>
                                                    <span style="color: #fff;">{{ message.created_at }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="float: left; width: 100%;"></div>
                                    </div>
                                </div>
                                <div class="m-messenger__seperator"></div>
                                <form action="javascript:;" (submit)="SaveComment($event)">
                                    <input type="hidden" name="customer_id" value="{{ _lead_detail.lead_proposal?_lead_detail.lead_proposal.client_info.customer_id:'' }}">
                                    <input type="hidden" name="lead_id" value="{{ _lead_detail.lead_id }}">
                                    <div class="m-messenger__form" style="display: block; max-width: 300px; margin-bottom: 15px;">
                                        <select class="form-control m-select2" appSelectorTwo name="commented_by">
                                            <option value="">Select user</option>
                                            <option value="0">
                                                From User
                                            </option>
                                            <option value="1">
                                                From {{ _lead_detail.lead_proposal?_lead_detail.lead_proposal.client_info.customer_name:'' }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="m-messenger__form">
                                        <div class="m-messenger__form-controls">
                                            <textarea class="form-control m-messenger__form-input m-input" placeholder="Type here..." rows="3" name="comment"></textarea>
                                        </div>
                                        <div class="m-messenger__form-tools">
                                            <button type="submit" class="m-messenger__form-attachment" style="border: 0;">
                                                <i class="la la-send"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>
