<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                User Management
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a routerLink="/level-1/user" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/level-1/user" class="m-nav__link">
						<span class="m-nav__link-text">
							User's
						</span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/level-1/user/update-user/{{ _user_detail.user_id }}" class="m-nav__link">
						<span class="m-nav__link-text">
							Update {{ _user_detail.first_name + ' ' + _user_detail.last_name }} User
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
                            <h3 class="m-portlet__head-text">
                                Update {{ _user_detail.first_name + ' ' + _user_detail.last_name }} User
                            </h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" action="javascript:;" (submit)="SaveUser($event)">
                    <input type="hidden" [(ngModel)]="_user_detail.user_id" name="id">
                    <div class="m-portlet__body">
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">
                                Social Title:
                            </label>
                            <div class="col-lg-6">
                                <div class="m-radio-inline">
                                    <label class="m-radio">
                                        <input type="radio" name="social_title" value="Mr."  [(ngModel)]="_user_detail.social_title">
                                        Mr.
                                        <span></span>
                                    </label>
                                    <label class="m-radio">
                                        <input type="radio" name="social_title" value="Mrs." [(ngModel)]="_user_detail.social_title">
                                        Mrs.
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">
                                First Name:
                            </label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control m-input" placeholder="Enter first name" name="first_name" [(ngModel)] = "_user_detail.first_name">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">
                                Last Name:
                            </label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control m-input" placeholder="Enter last name" name="last_name" [(ngModel)] = "_user_detail.last_name">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">
                                Email Address:
                            </label>
                            <div class="col-lg-6">
                                <input type="email" class="form-control m-input" placeholder="Enter email address" name="email" [(ngModel)] = "_user_detail.email">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">
                                Password:
                            </label>
                            <div class="col-lg-6">
                                <input type="password" class="form-control m-input" placeholder="Enter password" name="update_password">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">
                                Phone Number:
                            </label>
                            <div class="col-lg-6">
                                <input type="number" class="form-control m-input" placeholder="Enter phone number" name="phone" [(ngModel)] = "_user_detail.phone">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">
                                Date of Birth:
                            </label>
                            <div class="col-lg-6">
                                <input type="text" appDatePicker class="form-control m-input" placeholder="Enter date of birthday" name="date_of_birthday" [(ngModel)] = "_user_detail.date_of_birthday">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">
                                Address:
                            </label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control m-input" placeholder="Enter address" name="address_line_1" [(ngModel)] = "_user_detail.address_line_1">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">
                                Department:
                            </label>
                            <div class="col-lg-6">
                                <select class="form-control" name="department" [(ngModel)]="_user_detail.department">
                                    <option *ngFor="let department of _department_list" value="{{ department.id }}">
                                        {{ department.dept_name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">
                                Job Post:
                            </label>
                            <div class="col-lg-6">
                                <select class="form-control" name="job_post" [(ngModel)] = "_user_detail.job_post">
                                    <option value="hod">HOD</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">
                                Role Selection:
                            </label>
                            <div class="col-lg-6">
                                <select class="form-control" name="role" [(ngModel)]="_user_detail.roles?_user_detail.roles[0].name:_user_detail">
                                    <option *ngFor="let role of this._role_list" value="{{ role.name }}">
                                        {{ role.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">
                                Access Level:
                            </label>
                            <div class="col-lg-6">
                                <select class="form-control" name="level" [(ngModel)]="_user_detail.level">
                                    <option value="level-1">Level 1</option>
                                    <option value="level-2">Level 2</option>
                                    <option value="level-3">Level 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">
                                Description:
                            </label>
                            <div class="col-lg-6">
                                <textarea class="form-control m-input" rows="3" name="description" [(ngModel)] = "_user_detail.description"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-6">
                                    <button type="submit" class="btn btn-brand">
                                        Save
                                    </button>
                                    <a routerLink="/level-1/user" class="btn btn-secondary">
                                        Cancel
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>
