<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Add Lead Info
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Lead's
						</span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Add Info
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
        <div class="m-alert__icon">
            <i class="flaticon-exclamation m--font-primary"></i>
        </div>
        <div class="m-alert__text">
            Fill all information fields agains this design
        </div>
    </div>
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <div class="row">
                <div class="col-lg-12">
                    <!--begin::Form-->
                    <form class="m-form" action="javascript:;" (submit)="SaveLead($event)">
                        <input type="hidden" name="id" [(ngModel)]="_lead_detail.lead_id">
                        <div class="m-portlet__body">
                            <div class="m-form__section m-form__section--first">
                                <div class="m-form__heading">
                                    <h3 class="m-form__heading-title" style="margin: 0;">
                                        Customer Info:
                                    </h3>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-xs-12 col-form-label">
                                        &nbsp; &nbsp; Customer Type: &nbsp; {{ CustomerType(_lead_detail.lead_proposal) }}
                                    </label>
                                </div>
                                <div>
                                    <div class="form-group m-form__group row">
                                        <div class="col-lg-6">
                                            <label>
                                                Title:
                                            </label>
                                            <div class="m-radio-inline">
                                                <label class="m-radio">
                                                    <input type="radio" name="social_title" value="Mr." [(ngModel)]="_lead_detail.lead_proposal?_lead_detail.lead_proposal.client_info.social_title:_lead_detail.lead_proposal"> Mr.
                                                    <span></span>
                                                </label>
                                                <label class="m-radio">
                                                    <input type="radio" name="social_title" value="Mrs." [(ngModel)]="_lead_detail.lead_proposal?_lead_detail.lead_proposal.client_info.social_title:_lead_detail.lead_proposal"> Mrs.
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <div class="col-md-6">
                                            <label>
                                                Customer Name:
                                            </label>
                                            <input type="text" class="form-control m-input" placeholder="Enter customer name" name="customer_name" [(ngModel)]="_lead_detail.lead_proposal?_lead_detail.lead_proposal.client_info.customer_name:_lead_detail.lead_proposal">
                                        </div>
                                        <div class="col-md-6">
                                            <label>
                                                Customer ID Card:
                                            </label>
                                            <input type="number" class="form-control m-input" placeholder="Enter customer ID card number" name="id_card_no" [(ngModel)]="_lead_detail.lead_proposal?_lead_detail.lead_proposal.client_info.id_card_no:_lead_detail.lead_proposal">
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <div class="col-md-6">
                                            <label>
                                                D.O.B:
                                            </label>
                                            <input type='text' class="form-control" appDatePicker placeholder="Select date" name="date_of_birthday" [(ngModel)]="_lead_detail.lead_proposal?_lead_detail.lead_proposal.client_info.date_of_birthday:_lead_detail.lead_proposal"/>
                                        </div>
                                        <div class="col-md-6">
                                            <label>
                                                Address:
                                            </label>
                                            <input type="text" class="form-control m-input" placeholder="Enter customer address" name="address_line_1" [(ngModel)]="_lead_detail.lead_proposal?_lead_detail.lead_proposal.client_info.address_line_1:_lead_detail.lead_proposal">
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row" style="font-size: 13px; font-weight: normal;">
                                        <div class="col-md-6">
                                            <label>
                                                Country:
                                            </label>
                                            <select class="form-control" appSelectorTwo name="country" [(ngModel)]="_lead_detail.lead_proposal?_lead_detail.lead_proposal.client_info.country:_lead_detail.lead_proposal">
                                                <option *ngFor="let country of _countries_list" value="{{ country.name }}">
                                                    {{ country.name }}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label>
                                                City:
                                            </label>
                                            <select class="form-control" appSelectorTwo name="city" [(ngModel)]="_lead_detail.lead_proposal?_lead_detail.lead_proposal.client_info.city:_lead_detail.lead_proposal">
                                                <option *ngFor="let city of _cities_list" value="{{ city.name }}">
                                                    {{ city.name }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <div class="col-md-6">
                                            <label>
                                                Mobile No:
                                            </label>
                                            <input type="text" class="form-control m-input" placeholder="Enter customer mobile" name="mobile_1" [(ngModel)]="_lead_detail.lead_proposal?_lead_detail.lead_proposal.client_info.mobile_1:_lead_detail.lead_proposal" style="margin-bottom: 10px;">
                                            <input type="text" class="form-control m-input" placeholder="Enter customer mobile" name="mobile_2" [(ngModel)]="_lead_detail.lead_proposal?_lead_detail.lead_proposal.client_info.mobile_2:_lead_detail.lead_proposal">
                                        </div>
                                        <div class="col-md-6">
                                            <label>
                                                Phone (res):
                                            </label>
                                            <input type="text" class="form-control m-input" placeholder="Enter customer phone" name="phone_1" [(ngModel)]="_lead_detail.lead_proposal?_lead_detail.lead_proposal.client_info.phone_1:_lead_detail.lead_proposal" style="margin-bottom: 10px;">
                                            <input type="text" class="form-control m-input" placeholder="Enter customer phone" name="phone_2" [(ngModel)]="_lead_detail.lead_proposal?_lead_detail.lead_proposal.client_info.phone_2:_lead_detail.lead_proposal">
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <div class="col-md-6">
                                            <label>
                                                Email address:
                                            </label>
                                            <input type="email" class="form-control m-input" placeholder="Enter email" name="email" [(ngModel)]="_lead_detail.lead_proposal?_lead_detail.lead_proposal.client_info.email:_lead_detail.lead_proposal">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="m-form__seperator m-form__seperator--dashed"></div>
                                    <div class="m-form__heading" style="margin-top: 30px;">
                                        <h3 class="m-form__heading-title">
                                            Emergency Contact Person:
                                        </h3>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <div class="col-md-6">
                                            <label>
                                                Contact Person 1:
                                            </label>
                                            <input type="text" class="form-control m-input" placeholder="Enter contact person name" name="contact_person_name[]" value="{{ EmergencyContactPerson(_lead_detail.lead_proposal, 0) }}">
                                        </div>
                                        <div class="col-md-6">
                                            <label>
                                                Contact Person Relation:
                                            </label>
                                            <input type="text" class="form-control m-input" placeholder="Enter contact person relation" name="contact_relation[]" value="{{ EmergencyContactPersonRel(_lead_detail.lead_proposal, 0) }}">
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <div class="col-md-6">
                                            <label>
                                                Mobile No:
                                            </label>
                                            <input type="text" class="form-control m-input" placeholder="Enter company mobile" name="mobile_no[]" value="{{ EmergencyContactPersonMobile(_lead_detail.lead_proposal, 0) }}" style="margin-bottom: 10px;">
                                        </div>
                                        <div class="col-md-6">
                                            <label>
                                                &nbsp;
                                            </label>
                                            <input type="text" class="form-control m-input" placeholder="Enter company phone" name="phone_no[]" value="{{ EmergencyContactPersonPhone(_lead_detail.lead_proposal, 0) }}">
                                        </div>
                                    </div>
                                    <div class="m-form__seperator m-form__seperator--dashed"></div>
                                    <div class="form-group m-form__group row">
                                        <div class="col-md-6">
                                            <label>
                                                Contact Person 2:
                                            </label>
                                            <input type="text" class="form-control m-input" placeholder="Enter contact person name" name="contact_person_name[]" value="{{ EmergencyContactPerson(_lead_detail.lead_proposal, 1) }}">
                                        </div>
                                        <div class="col-md-6">
                                            <label>
                                                Contact Person Relation:
                                            </label>
                                            <input type="text" class="form-control m-input" placeholder="Enter contact person relation" name="contact_relation[]" value="{{ EmergencyContactPersonRel(_lead_detail.lead_proposal, 1) }}">
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <div class="col-md-6">
                                            <label>
                                                Mobile No:
                                            </label>
                                            <input type="text" class="form-control m-input" placeholder="Enter company mobile" name="mobile_no[]" value="{{ EmergencyContactPersonMobile(_lead_detail.lead_proposal, 1) }}" style="margin-bottom: 10px;">
                                        </div>
                                        <div class="col-md-6">
                                            <label>
                                                &nbsp;
                                            </label>
                                            <input type="text" class="form-control m-input" placeholder="Enter company phone" name="phone_no[]" value="{{ EmergencyContactPersonPhone(_lead_detail.lead_proposal, 1) }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-form__seperator m-form__seperator--dashed"></div>
                            <br>
                            <!-- vehicle info -->
                            <div id="vehicle_div">
                                <div class="m-form__section m-form__section--last clone_div" *ngFor="let vehicle of _lead_detail.lead_vehicle; let index=index">
                                    <div class="m-form__heading">
                                        <h3 class="m-form__heading-title">
                                            Vehicle Information (<span class="vehicle-counter">{{ index + 1 }}</span>):
                                        </h3>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <div class="col-md-6">
                                            <label>
                                                Plate No:
                                            </label>
                                            <input type="text" class="form-control m-input" placeholder="Enter plate number" name="plate_no[{{ index }}]" value="{{ vehicle.vehicle_info.plate_no }}" data-name="plate_no">
                                        </div>
                                        <div class="col-md-6">
                                            <label>
                                                Year of Manufacturing:
                                            </label>
                                            <input type="text" class="form-control m-input" placeholder="Enter year" name="year_of_manufacturing[{{ index }}]" value="{{ vehicle.vehicle_info.year_of_manufacturing }}" data-name="year_of_manufacturing">
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <div class="col-md-6">
                                            <label>
                                                Vehicle Make:
                                            </label>
                                            <input type="text" class="form-control m-input" placeholder="Enter make" name="vehicle_make[{{ index }}]" value="{{ vehicle.vehicle_info.vehicle_make }}" data-name="vehicle_make">
                                        </div>
                                        <div class="col-md-6">
                                            <label>
                                                Vehicle Model:
                                            </label>
                                            <input type="text" class="form-control m-input" placeholder="Enter model" name="vehicle_model[{{ index }}]" value="{{ vehicle.vehicle_info.vehicle_model }}" data-name="vehicle_model">
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <div class="col-md-6">
                                            <label>
                                                Vehicle Color:
                                            </label>
                                            <input type="text" class="form-control m-input" placeholder="Enter color" name="vehicle_color[{{ index }}]" value="{{ vehicle.vehicle_info.vehicle_color }}" data-name="vehicle_color">
                                        </div>
                                        <div class="col-md-6">
                                            <label>
                                                Vehicle Engine CC:
                                            </label>
                                            <input type="text" class="form-control m-input" placeholder="Enter engine cc" name="vehicle_engine_cc[{{ index }}]" value="{{ vehicle.vehicle_info.vehicle_engine_cc }}" data-name="vehicle_engine_cc">
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <div class="col-md-6">
                                            <label>
                                                Vehicle Engine No:
                                            </label>
                                            <input type="text" class="form-control m-input" placeholder="Enter engine number" name="vehicle_engine_no[{{ index }}]" value="{{ vehicle.vehicle_info.vehicle_engine_no }}" data-name="vehicle_engine_no">
                                        </div>
                                        <div class="col-md-6">
                                            <label>
                                                Vehicle Chassis No:
                                            </label>
                                            <input type="text" class="form-control m-input" placeholder="Enter chassis number" name="vehicle_chassis_no[{{ index }}]" value="{{ vehicle.vehicle_info.vehicle_chassis_no }}" data-name="vehicle_chassis_no">
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row" style="margin-bottom: 30px;">
                                        <div class="col-md-6">
                                            <label>
                                                Fuel Type:
                                            </label>
                                            <div class="m-radio-inline">
                                                <label class="m-radio">
                                                    <input type="radio" name="fuel_type[{{ index }}]" value="0" [(ngModel)]="vehicle.vehicle_info.fuel_type" data-name="fuel_type"> Diesel
                                                    <span></span>
                                                </label>
                                                <label class="m-radio">
                                                    <input type="radio" name="fuel_type[{{ index }}]" value="1" [(ngModel)]="vehicle.vehicle_info.fuel_type" data-name="fuel_type"> Petrol
                                                    <span></span>
                                                </label>
                                                <label class="m-radio">
                                                    <input type="radio" name="fuel_type[{{ index }}]" value="2" [(ngModel)]="vehicle.vehicle_info.fuel_type" data-name="fuel_type"> CNG
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>
                                                Transmission Type:
                                            </label>
                                            <div class="m-radio-inline">
                                                <label class="m-radio">
                                                    <input type="radio" name="transmission_type[{{ index }}]" value="0" [(ngModel)]="vehicle.vehicle_info.transmission_type" data-name="transmission_type"> Manual
                                                    <span></span>
                                                </label>
                                                <label class="m-radio">
                                                    <input type="radio" name="transmission_type[{{ index }}]" value="1" [(ngModel)]="vehicle.vehicle_info.transmission_type" data-name="transmission_type"> Auto
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-form__section m-form__section--last clone_div" *ngIf="NoOfVehicle(_lead_detail.lead_vehicle) == 0">
                                    <div class="m-form__heading">
                                        <h3 class="m-form__heading-title" style="overflow: hidden;">
                                            Vehicle Information (<span class="vehicle-counter">1</span>):
                                            <button class="btn btn btn-sm btn-primary m-btn m-btn--icon m-btn--pill m-btn--wide delete-vehicle pull-right">
                                                <span>
                                                    <i class="la la-minus"></i>
                                                    <span>
                                                        remove
                                                    </span>
                                                </span>
                                            </button>
                                        </h3>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <div class="col-md-6">
                                            <label>
                                                Plate No:
                                            </label>
                                            <input type="text" class="form-control m-input" placeholder="Enter plate number" name="plate_no[0]" data-name="plate_no">
                                        </div>
                                        <div class="col-md-6">
                                            <label>
                                                Year of Manufacturing:
                                            </label>
                                            <input type="text" class="form-control m-input" placeholder="Enter year" name="year_of_manufacturing[0]" data-name="year_of_manufacturing">
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <div class="col-md-6">
                                            <label>
                                                Vehicle Make:
                                            </label>
                                            <input type="text" class="form-control m-input" placeholder="Enter make" name="vehicle_make[0]" data-name="vehicle_make">
                                        </div>
                                        <div class="col-md-6">
                                            <label>
                                                Vehicle Model:
                                            </label>
                                            <input type="text" class="form-control m-input" placeholder="Enter model" name="vehicle_model[0]" data-name="vehicle_model">
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <div class="col-md-6">
                                            <label>
                                                Vehicle Color:
                                            </label>
                                            <input type="text" class="form-control m-input" placeholder="Enter color" name="vehicle_color[0]" data-name="vehicle_color">
                                        </div>
                                        <div class="col-md-6">
                                            <label>
                                                Vehicle Engine CC:
                                            </label>
                                            <input type="text" class="form-control m-input" placeholder="Enter engine cc" name="vehicle_engine_cc[0]" data-name="vehicle_engine_cc">
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <div class="col-md-6">
                                            <label>
                                                Vehicle Engine No:
                                            </label>
                                            <input type="text" class="form-control m-input" placeholder="Enter engine number" name="vehicle_engine_no[0]" data-name="vehicle_engine_no">
                                        </div>
                                        <div class="col-md-6">
                                            <label>
                                                Vehicle Chassis No:
                                            </label>
                                            <input type="text" class="form-control m-input" placeholder="Enter chassis number" name="vehicle_chassis_no[0]" data-name="vehicle_chassis_no">
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row" style="margin-bottom: 30px;">
                                        <div class="col-md-6 fuel-type">
                                            <label>
                                                Fuel Type:
                                            </label>
                                            <div class="m-radio-inline">
                                                <label class="m-radio">
                                                    <input type="radio" name="fuel_type[0]" data-name="fuel_type" value="0" checked> Diesel
                                                    <span></span>
                                                </label>
                                                <label class="m-radio">
                                                    <input type="radio" name="fuel_type[0]" data-name="fuel_type" value="1"> Petrol
                                                    <span></span>
                                                </label>
                                                <label class="m-radio">
                                                    <input type="radio" name="fuel_type[0]" data-name="fuel_type" value="2"> CNG
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 transmission-type">
                                            <label>
                                                Transmission Type:
                                            </label>
                                            <div class="m-radio-inline">
                                                <label class="m-radio">
                                                    <input type="radio" name="transmission_type[0]" data-name="transmission_type" value="0" checked> Manual
                                                    <span></span>
                                                </label>
                                                <label class="m-radio">
                                                    <input type="radio" name="transmission_type[0]" data-name="transmission_type" value="1"> Auto
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn btn-sm btn-primary m-btn m-btn--icon m-btn--pill m-btn--wide" id="add_more_vehicle">
                                <span>
                                    <i class="la la-plus"></i>
                                    <span>
                                        Add
                                    </span>
                                </span>
                            </button>
                        </div>
                        <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                            <div class="m-form__actions">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-primary">
                                            Submit
                                        </button> &nbsp; 
                                        <a routerLink="/level-2/hod/crm/leads" class="btn btn-secondary">
                                            Cancel
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--end::Form-->
                </div>
            </div>
        </div>
    </div>
</div>
