<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Create Lead
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a routerLink="/level-2/hod/sale/leads" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/level-2/hod/sale/leads" class="m-nav__link">
						<span class="m-nav__link-text">
							Lead's
						</span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/level-2/hod/sale/lead/new" class="m-nav__link">
						<span class="m-nav__link-text">
							Create Lead
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__body">
                    <!--begin::Form-->
                    <form class="m-form m-form--label-align-right" action="javascript:;" (submit)="SaveLead($event)">
                        <div class="m-portlet__body">
                            <div class="m-form__section m-form__section--first">
                                <div class="form-group m-form__group row">
                                    <label class="col-lg-2 col-form-label">
                                        Proposal:
                                    </label>
                                    <div class="col-lg-6" style="font-weight: normal; font-size: 13px;">
                                        <select class="form-control" appSelectorTwo name="proposal_id">
                                            <option *ngFor="let proposal of _proposal_list" value="{{ proposal.proposal_id }}">
                                                {{ proposal.proposal_id + ' - ' + proposal.name }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-lg-2 col-form-label">
                                        Comment:
                                    </label>
                                    <div class="col-lg-6">
                                        <textarea class="form-control m-input" rows="3" name="comment"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m-form__seperator m-form__seperator--dashed"></div>
                        <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                            <div class="m-form__actions">
                                <div class="row">
                                    <div class="col-lg-2"></div>
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-primary">
                                            Submit
                                        </button> &nbsp; &nbsp;
                                        <a routerLink="/level-2/hod/sale/leads" class="btn btn-secondary">
                                            Cancel
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--end::Form-->
                </div>
            </div>
        </div>
    </div>
</div>
