<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Packages Plans
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a routerLink="/level-1/plan" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Plans
						</span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/level-1/plan/new-plan" class="m-nav__link">
						<span class="m-nav__link-text">
							Edit {{ _package_detail.package_name }}
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
                            <h3 class="m-portlet__head-text">
                                Edit {{ _package_detail.package_name }}
                            </h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" action="javascript:;" (submit)="SavePlan($event)">
                    <input type="hidden" name="id" [(ngModel)]="_package_detail.package_id">
                    <div class="m-portlet__body">
                        <div class="form-group m-form__group row">
                            <label class="col-lg-3 col-form-label">
                                Name:
                            </label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control m-input" placeholder="Enter plan name"
                                       name="package_name" [(ngModel)]="_package_detail.package_name">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-3 col-form-label">
                                Select Product:
                            </label>
                            <div class="col-lg-6">
                                <select class="form-control m-input m-input--square" appSelectorTwo id="ProductSelect"
                                        name="product_id" [(ngModel)]="_package_detail.product_id">
                                    <option *ngFor="let product of _product_list" value="{{ product.product_id }}">
                                        {{ product.product_name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-3 col-form-label">
                                <span>
                                    Select Features:
                                </span>
                            </label>
                            <div class="col-lg-9">
                                <div [ngClass]="{'features_div': first}" *ngFor="let package_feature of _package_detail.package_features; let last = last; let first = first">
                                    <div class="clone_div">
                                        <div data-repeater-list="" >
                                            <div data-repeater-item class="form-group m-form__group row align-items-center" style="padding-top: 0; padding-left: 0;">
                                                <div class="col-md-6">
                                                    <div class="m-form__control">
                                                        <select class="form-control m-input m-input--square feature_select"
                                                                name="feature_id[]">
                                                            <option *ngFor="let feature of _feature_list"
                                                                    value="{{ feature.feature_id }}"
                                                                    [attr.data-price]="feature.feature_sale_price"
                                                                    [attr.selected]="package_feature.feature_id==feature.feature_id ? 'selected' : null">
                                                                {{ feature.feature_name }}
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <div class="d-md-none m--margin-bottom-10"></div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="m-radio-inline">
                                                        <label class="m-checkbox m-checkbox--state-success">
                                                            <input type="checkbox" name="is_free[]" value="1" class="is_free"
                                                                   [checked]="package_feature.is_free">
                                                            Free
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="btn-sm btn btn-danger m-btn m-btn--icon m-btn--pill delete-item">
                                                        <span>
                                                            <i class="la la-trash-o"></i>
                                                            <span>
                                                                Delete
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn btn btn-sm btn-primary m-btn m-btn--icon m-btn--pill m-btn--wide" id="add_more">
                                    <span>
                                        <i class="la la-plus"></i>
                                        <span>
                                            Add
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-3 col-form-label">
                                Price:
                            </label>
                            <label class="col-lg-6 col-form-label" style="text-align: left;">
                                <span id="total-price">{{ _package_detail.package_cost }}</span>
                            </label>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-3 col-form-label">
                                Minimum Cost:
                            </label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control m-input" placeholder="Enter minimum cost"
                                       name="package_min_cost" [(ngModel)]="_package_detail.package_min_cost">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-3 col-form-label">
                                Discount:
                            </label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control m-input" placeholder="Enter discount"
                                       name="package_discount" id="package_discount"
                                       [(ngModel)]="_package_detail.package_discount">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-3 col-form-label">
                                Sales Cost:
                            </label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control m-input" id="sale-price"
                                       placeholder="Enter sales cost" name="package_sale_price"
                                       [(ngModel)]="_package_detail.package_sale_price">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-3 col-form-label">
                                Description:
                            </label>
                            <div class="col-lg-6">
                                <textarea class="form-control m-input" rows="3" name="package_description"
                                          [(ngModel)]="_package_detail.package_description"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-lg-6">
                                    <button type="submit" class="btn btn-primary">
                                        Save
                                    </button>
                                    <a routerLink="/level-1/plan" class="btn btn-secondary">
                                        Cancel
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>
