<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Packages Plans
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a routerLink="/level-1/feature" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/level-1/feature" class="m-nav__link">
						<span class="m-nav__link-text">
							Features
						</span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/level-1/feature/view-feature/{{ _feature_detail.feature_id }}" class="m-nav__link">
						<span class="m-nav__link-text">
							View {{ _feature_detail.feature_name }} Features
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
                            <h3 class="m-portlet__head-text">
                                {{ _feature_detail.feature_name }} Feature
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-section">
                        <div class="m-section__content">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th scope="row" style="width: 20%; border-top: 0;">
                                        Name:
                                    </th>
                                    <td style="border-top: 0;">
                                        {{ _feature_detail.feature_name }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Cost Price:
                                    </th>
                                    <td>
                                        PKR {{ _feature_detail.feature_cost_price }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Sales Price:
                                    </th>
                                    <td>
                                        PKR {{ _feature_detail.feature_sale_price }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Type:
                                    </th>
                                    <td>
                                        {{ _feature_detail.feature_type == 0?'Software':'Hardware'}}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Description:
                                    </th>
                                    <td>
                                        {{ _feature_detail.feature_description }}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-10">
                                    <a routerLink="/level-1/feature/update-feature/{{ _feature_detail.feature_id }}" class="btn btn-primary">
                                        Edit
                                    </a>
                                    <a routerLink="/level-1/feature" class="btn btn-secondary">
                                        Back
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>
