<!-- begin::Header -->
<header class="m-grid__item m-header" data-minimize="minimize" data-minimize-offset="200"
        data-minimize-mobile-offset="200" appunwraptag="">
    <div class="m-header__top">
        <div class="m-container m-container--responsive m-container--xxl m-container--full-height m-page__container">
            <div class="m-stack m-stack--ver m-stack--desktop">
                <!-- begin::Brand -->
                <div class="m-stack__item m-brand">
                    <div class="m-stack m-stack--ver m-stack--general m-stack--inline">
                        <div class="m-stack__item m-stack__item--middle m-brand__logo" style="width: 200px;">
                            <a routerLink="/level-3/{{ _dept }}/index" class="m-brand__logo-wrapper">
                                <img alt="" src="./assets/uploads/images/logo/level3logo.png" class="img-responsive"/>
                            </a>
                        </div>
                        <div class="m-stack__item m-stack__item--middle m-brand__tools">
                            <!-- begin::Responsive Header Menu Toggler-->
                            <a id="m_aside_header_menu_mobile_toggle" href="javascript:;"
                               class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
                                <span></span>
                            </a>
                            <!-- end::Responsive Header Menu Toggler-->
                            <!-- begin::Topbar Toggler-->
                            <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;"
                               class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
                                <i class="flaticon-more"></i>
                            </a>
                            <!--end::Topbar Toggler-->
                        </div>
                    </div>
                </div>
                <!-- end::Brand -->
                <!-- begin::Topbar -->
                <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
                    <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
                        <div class="m-stack__item m-topbar__nav-wrapper">
                            <ul class="m-topbar__nav m-nav m-nav--inline">
                                <!-- notification section -->
                                <li class="m-nav__item m-topbar__notifications m-topbar__notifications--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-center m-dropdown--mobile-full-width"
                                    data-dropdown-toggle="click" data-dropdown-persistent="true">
                                    <a href="#" class="m-nav__link m-dropdown__toggle" id="m_topbar_notification_icon">
                                        <span class="m-nav__link-badge m-badge m-badge--dot m-badge--dot-small m-badge--danger m-animate-blink"></span>
                                        <span class="m-nav__link-icon m-animate-shake">
											<span class="m-nav__link-icon-wrapper">
												<i class="flaticon-music-2"></i>
											</span>
										</span>
                                    </a>
                                    <div class="m-dropdown__wrapper">
                                        <span class="m-dropdown__arrow m-dropdown__arrow--center"></span>
                                        <div class="m-dropdown__inner">
                                            <div class="m-dropdown__header m--align-center"
                                                 style="background: url(./assets/uploads/images/other/notification_bg.jpg); background-size: cover;">
												<span class="m-dropdown__header-title">
													{{ _header_info.notification?_header_info.notification.length:0 }} New
												</span>
                                                <span class="m-dropdown__header-subtitle">
													User Notifications
												</span>
                                            </div>
                                            <div class="m-dropdown__body">
                                                <div class="m-dropdown__content">
                                                    <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand"
                                                        role="tablist">
                                                        <li class="nav-item m-tabs__item">
                                                            <a class="nav-link m-tabs__link active" data-toggle="tab"
                                                               href="#topbar_notifications_notifications" role="tab">
                                                                Alerts
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="topbar_notifications_notifications" role="tabpanel">
                                                            <div class="m-scrollable" data-scrollable="true"
                                                                 data-max-height="250" data-mobile-max-height="200">
                                                                <div class="m-list-timeline m-list-timeline--skin-light">
                                                                    <div class="m-list-timeline__items">
                                                                        <div class="m-list-timeline__item" *ngFor="let notify of _header_info.notification">
                                                                            <span class="m-list-timeline__badge -m-list-timeline__badge--state-success"></span>
                                                                            <span class="m-list-timeline__text">
																				{{ notify.message }}
																			</span>
                                                                            <span class="m-list-timeline__time">
																				{{ notify.created_at }}
																			</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!-- quick action section -->
                                <li class="m-nav__item m-topbar__quick-actions m-topbar__quick-actions--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push m-dropdown--mobile-full-width m-dropdown--skin-light" data-dropdown-toggle="click">
                                    <a href="#" class="m-nav__link m-dropdown__toggle">
                                        <span class="m-nav__link-badge m-badge m-badge--dot m-badge--info m--hide"></span>
                                        <span class="m-nav__link-icon">
											<span class="m-nav__link-icon-wrapper">
												<i class="flaticon-share"></i>
											</span>
										</span>
                                    </a>
                                    <div class="m-dropdown__wrapper">
                                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                        <div class="m-dropdown__inner">
                                            <div class="m-dropdown__header m--align-center"
                                                 style="background: url(./assets/uploads/images/other/quick_actions_bg.jpg); background-size: cover;">
												<span class="m-dropdown__header-title">
													Quick Actions
												</span>
                                                <span class="m-dropdown__header-subtitle">
													Shortcuts
												</span>
                                            </div>
                                            <div class="m-dropdown__body m-dropdown__body--paddingless">
                                                <div class="m-dropdown__content">
                                                    <div class="m-scrollable" data-scrollable="false"
                                                         data-max-height="380" data-mobile-max-height="200">
                                                        <div class="m-nav-grid m-nav-grid--skin-light">
                                                            <div class="m-nav-grid__row">
                                                                <a routerLink="/level-3/{{ _dept }}/client/new/individual" class="m-nav-grid__item">
                                                                    <i class="m-nav-grid__icon flaticon-user-add"></i>
                                                                    <span class="m-nav-grid__text">
																		Add New Client
																	</span>
                                                                </a>
                                                                <a routerLink="/level-3/{{ _dept }}/proposal/new" class="m-nav-grid__item">
                                                                    <i class="m-nav-grid__icon flaticon-folder"></i>
                                                                    <span class="m-nav-grid__text">
                                                                        Create New Proposal
                                                                    </span>
                                                                </a>
                                                            </div>
                                                            <div class="m-nav-grid__row">
                                                                <a routerLink="/level-3/{{ _dept }}/leads" class="m-nav-grid__item">
                                                                    <i class="m-nav-grid__icon flaticon-clipboard"></i>
                                                                    <span class="m-nav-grid__text">
																		Leads
																	</span>
                                                                </a>
                                                                <a routerLink="/level-3/{{ _dept }}/reports" class="m-nav-grid__item">
                                                                    <i class="m-nav-grid__icon flaticon-file"></i>
                                                                    <span class="m-nav-grid__text">
                                                                        Generate Report
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!-- profile section -->
                                <li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light"
                                    data-dropdown-toggle="click">
                                    <a href="javascript:;" class="m-nav__link m-dropdown__toggle" (click)="UserInfoPanel()">
										<span class="m-topbar__welcome">
											Hello,&nbsp;
										</span>
                                        <span class="m-topbar__username">
											{{ _name }} &nbsp;
										</span>
                                        <span class="m-topbar__userpic">
											<img src="./assets/uploads/images/profile/default.jpeg"
                                                 class="m--img-rounded m--marginless m--img-centered" alt=""/>
										</span>
                                    </a>
                                    <div class="m-dropdown__wrapper">
                                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                        <div class="m-dropdown__inner">
                                            <div class="m-dropdown__header m--align-center"
                                                 style="background: url(./assets/uploads/images/other/user_profile_bg.jpg); background-size: cover;">
                                                <div class="m-card-user m-card-user--skin-dark">
                                                    <div class="m-card-user__pic">
                                                        <img src="./assets/uploads/images/profile/default.jpeg"
                                                             class="m--img-rounded m--marginless" alt=""/>
                                                    </div>
                                                    <div class="m-card-user__details">
														<span class="m-card-user__name m--font-weight-500">
															{{ _name }}
														</span>
                                                        <a routerLink="/level-3/profile" class="m-card-user__email m--font-weight-300 m-link">
                                                            {{ _email }}
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="m-dropdown__body">
                                                <div class="m-dropdown__content">
                                                    <ul class="m-nav m-nav--skin-light">
                                                        <li class="m-nav__section m--hide">
															<span class="m-nav__section-text">
																Section
															</span>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a routerLink="/level-3/{{ _dept }}/profile" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-profile-1"></i>
                                                                <span class="m-nav__link-title">
																	<span class="m-nav__link-wrap">
																		<span class="m-nav__link-text">
																			My Profile
																		</span>
																	</span>
																</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a routerLink="/level-3/{{ _dept }}/clients" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-share"></i>
                                                                <span class="m-nav__link-title">
																	<span class="m-nav__link-wrap">
																		<span class="m-nav__link-text">
																			Clients
																		</span>
																		<span class="m-nav__link-badge">
																			<span class="m-badge m-badge--info">
																				{{ this._header_info.total_clients }}
																			</span>
																		</span>
																	</span>
																</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a routerLink="/level-3/{{ _dept }}/leads" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                                <span class="m-nav__link-title">
																	<span class="m-nav__link-wrap">
																		<span class="m-nav__link-text">
																			Leads
																		</span>
																		<span class="m-nav__link-badge">
																			<span class="m-badge m-badge--warning">
																				{{ this._header_info.total_leads }}
																			</span>
																		</span>
																	</span>
																</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a routerLink="/level-3/{{ _dept }}/sales" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-piggy-bank"></i>
                                                                <span class="m-nav__link-title">
																	<span class="m-nav__link-wrap">
																		<span class="m-nav__link-text">
																			Sales
																		</span>
																		<span class="m-nav__link-badge">
																			<span class="m-badge m-badge--success">
																				{{ this._header_info.total_sales }}
																			</span>
																		</span>
																	</span>
																</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__separator m-nav__separator--fit"></li>
                                                        <li class="m-nav__item">
                                                            <a href="javascript:;" class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder" (click)="Logout()">
                                                                Logout
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end::Topbar -->
            </div>
        </div>
    </div>
    <div class="m-header__bottom">
        <div class="m-container m-container--responsive m-container--xxl m-container--full-height m-page__container">
            <div class="m-stack m-stack--ver m-stack--desktop">
                <!-- begin::Horizontal Menu -->
                <div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
                    <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light" id="m_aside_header_menu_mobile_close_btn">
                        <i class="la la-close"></i>
                    </button>
                    <div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-dark m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-light m-aside-header-menu-mobile--submenu-skin-light">
                        <ul class="m-menu__nav  m-menu__nav--submenu-arrow">
                            <!-- sale person dashboard -->
                            <li class="m-menu__item  " routerLinkActive="m-menu__item--active"
                                routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *appCheckLayout3Permissions="'level-3_sale_index_view'">
                                <a routerLink="/level-3/sale/index" class="m-menu__link">
                                    <span class="m-menu__item-here"></span>
                                    <span class="m-menu__link-text">
										Dashboard
									</span>
                                </a>
                            </li>
                            <!-- sale person clients -->
                            <li class="m-menu__item" data-redirect="true" aria-haspopup="true" *appCheckLayout3Permissions="'level-3_sale_client_list'">
                                <a routerLink="/level-3/sale/clients" class="m-menu__link">
                                    <i class="m-menu__link-icon flaticon-users"></i>
                                    <span class="m-menu__link-text">
										Clients
									</span>
                                </a>
                            </li>
                            <!-- sale person proposals -->
                            <li class="m-menu__item" data-redirect="true" aria-haspopup="true" *appCheckLayout3Permissions="'level-3_sale_proposal_list'">
                                <a routerLink="/level-3/sale/proposals" class="m-menu__link">
                                    <i class="m-menu__link-icon flaticon-network"></i>
                                    <span class="m-menu__link-text">
										Proposals
									</span>
                                </a>
                            </li>
                            <!-- sale person leads -->
                            <li class="m-menu__item" data-redirect="true" aria-haspopup="true" *appCheckLayout3Permissions="'level-3_sale_lead_list'">
                                <a routerLink="/level-3/sale/leads" class="m-menu__link">
                                    <i class="m-menu__link-icon flaticon-interface"></i>
                                    <span class="m-menu__link-text">
										Leads
									</span>
                                </a>
                            </li>
                            <!-- sale person sales -->
                            <li class="m-menu__item" data-redirect="true" aria-haspopup="true" *appCheckLayout3Permissions="'level-3_sale_sale_list'">
                                <a routerLink="/level-3/sale/sales" class="m-menu__link">
                                    <i class="m-menu__link-icon flaticon-piggy-bank"></i>
                                    <span class="m-menu__link-text">
										Sales
									</span>
                                </a>
                            </li>
                            <!-- sale person reports -->
                            <li class="m-menu__item" data-redirect="true" aria-haspopup="true" *appCheckLayout3Permissions="'level-3_sale_report_view'">
                                <a routerLink="/level-3/sale/reports" class="m-menu__link">
                                    <i class="m-menu__link-icon flaticon-file"></i>
                                    <span class="m-menu__link-text">
										Reports
									</span>
                                </a>
                            </li>
                            <!-- sale person tickets -->
                            <li class="m-menu__item" data-redirect="true" aria-haspopup="true" *appCheckLayout3Permissions="'level-3_sale_ticket_list'">
                                <a routerLink="/level-3/sale/tickets" class="m-menu__link">
                                    <i class="m-menu__link-icon flaticon-open-box"></i>
                                    <span class="m-menu__link-text">
										Tickets
									</span>
                                </a>
                            </li>
                            <!--========================================================= -->
                            <!-- CRM -->
                            <!-- crm person dashboard -->
                            <li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *appCheckLayout3Permissions="'level-3_crm_index_view'">
                                <a routerLink="/level-3/crm/index" class="m-menu__link">
                                    <span class="m-menu__item-here"></span>
                                    <span class="m-menu__link-text">
										Dashboard
									</span>
                                </a>
                            </li>
                            <!-- crm person leads -->
                            <li class="m-menu__item" data-redirect="true" aria-haspopup="true" *appCheckLayout3Permissions="'level-3_crm_lead_list'">
                                <a routerLink="/level-3/crm/leads" class="m-menu__link">
                                    <i class="m-menu__link-icon flaticon-interface"></i>
                                    <span class="m-menu__link-text">
										Leads
									</span>
                                </a>
                            </li>
                            <!-- crm person clients -->
                            <li class="m-menu__item" data-redirect="true" aria-haspopup="true" *appCheckLayout3Permissions="'level-3_crm_client_list'">
                                <a routerLink="/level-3/crm/clients" class="m-menu__link">
                                    <i class="m-menu__link-icon flaticon-users"></i>
                                    <span class="m-menu__link-text">
										Clients
									</span>
                                </a>
                            </li>
                            <!-- crm person tickets -->
                            <li class="m-menu__item" data-redirect="true" aria-haspopup="true" *appCheckLayout3Permissions="'level-3_crm_ticket_list'">
                                <a routerLink="/level-3/crm/tickets" class="m-menu__link">
                                    <i class="m-menu__link-icon flaticon-open-box"></i>
                                    <span class="m-menu__link-text">
										Tickets
									</span>
                                </a>
                            </li>
                            <!-- crm person operational tickets -->
                            <li class="m-menu__item" data-redirect="true" aria-haspopup="true" *appCheckLayout3Permissions="'level-3_crm_operational_ticket_list'">
                                <a routerLink="/level-3/crm/operational/tickets" class="m-menu__link">
                                    <i class="m-menu__link-icon flaticon-internet"></i>
                                    <span class="m-menu__link-text">
										Operational Tickets
									</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end::Horizontal Menu -->
                <!--begin::Search-->
                <div class="m-stack__item m-stack__item--middle m-dropdown m-dropdown--arrow m-dropdown--large m-dropdown--mobile-full-width m-dropdown--align-right m-dropdown--skin-light m-header-search m-header-search--expandable m-header-search--skin-" id="m_quicksearch" data-search-type="default">
                    <!--begin::Search Form -->
                    <form class="m-header-search__form">
                        <div class="m-header-search__wrapper">
							<span class="m-header-search__icon-search" id="m_quicksearch_search">
								<i class="la la-search"></i>
							</span>
                            <span class="m-header-search__input-wrapper">
								<input autocomplete="off" type="text" name="q" class="m-header-search__input" value="" placeholder="Search..." id="m_quicksearch_input">
							</span>
                            <span class="m-header-search__icon-close" id="m_quicksearch_close">
								<i class="la la-remove"></i>
							</span>
                            <span class="m-header-search__icon-cancel" id="m_quicksearch_cancel">
								<i class="la la-remove"></i>
							</span>
                        </div>
                    </form>
                    <!--end::Search Form -->
                    <!--begin::Search Results -->
                    <div class="m-dropdown__wrapper">
                        <div class="m-dropdown__arrow m-dropdown__arrow--center"></div>
                        <div class="m-dropdown__inner">
                            <div class="m-dropdown__body">
                                <div class="m-dropdown__scrollable m-scrollable" data-scrollable="true" data-max-height="300" data-mobile-max-height="200">
                                    <div class="m-dropdown__content m-list-search m-list-search--skin-light"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Search Results -->
                </div>
                <!--end::Search-->
            </div>
        </div>
    </div>
</header>
<!-- end::Header -->
