<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Packages Plans
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a routerLink="/level-1/feature" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
					<span class="m-nav__link-text">
						Features
					</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
        <div class="m-alert__icon">
            <i class="flaticon-exclamation m--font-primary"></i>
        </div>
        <div class="m-alert__text">
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
        </div>
    </div>
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        List of all Plan Features
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">
                            <div class="col-md-6">
                                <div class="m-input-icon m-input-icon--left">
                                    <input type="text" class="form-control m-input m-input--solid" placeholder="Search..." [(ngModel)]="filter">
                                    <span class="m-input-icon__icon m-input-icon__icon--left">
										<span>
											<i class="la la-search"></i>
										</span>
									</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                        <a routerLink="/level-1/feature/new-feature" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
							<span>
								<i class="la la-plus"></i>
								<span>
									Add New
								</span>
							</span>
                        </a>
                        <div class="m-separator m-separator--dashed d-xl-none"></div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
            <!--begin: Datatable -->
            <div class="m-datatable m-datatable--default m-datatable--primary m-datatable--loaded">
                <table class="m-datatable__table" width="100%" style="display: block; position: static; zoom: 1; height: auto; overflow-x: auto;">
                    <thead class="m-datatable__head">
                        <tr class="m-datatable__row" style="height: 53px;">
                            <th class="m-datatable__cell" style="width: 20%"> &nbsp; &nbsp;
                                No
                            </th>
                            <th class="m-datatable__cell" style="width: 20%">
                                Name
                            </th>
                            <th class="m-datatable__cell" style="width: 20%">
                                Price
                            </th>
                            <th class="m-datatable__cell" style="width: 20%">
                                Type
                            </th>
                            <th class="m-datatable__cell" style="width: 20%">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody class="m-datatable__body">
                        <tr class="m-datatable__row m-datatable__row--even" style="height: 43px;" *ngFor="let feature of _features_list | filter:filter">
                            <td class="m-datatable__cell" style="width: 20%"> &nbsp; &nbsp;
                                {{ feature.feature_id }}
                            </td>
                            <td class="m-datatable__cell" style="width: 20%">
                                {{ feature.feature_name }}
                            </td>
                            <td class="m-datatable__cell" style="width: 20%">
                                PKR {{ feature.feature_sale_price }}
                            </td>
                            <td class="m-datatable__cell" style="width: 20%">
                                {{ feature.feature_type == 0?'Software':'Hardware'}}
                            </td>
                            <td class="m-datatable__cell" style="width: 20%">
                                <a routerLink="/level-1/feature/view-feature/{{ feature.feature_id }}" class="m-portlet__nav-link btn m-btn m-btn--hover-primary m-btn--icon m-btn--icon-only m-btn--pill" title="View ">
                                    <i class="la la-eye"></i>
                                </a>
                                <a routerLink="/level-1/feature/update-feature/{{ feature.feature_id }}" class="m-portlet__nav-link btn m-btn m-btn--hover-primary m-btn--icon m-btn--icon-only m-btn--pill" title="Edit ">
                                    <i class="la la-edit"></i>
                                </a>
                                <a href="javascript:;" class="m-portlet__nav-link btn m-btn m-btn--hover-primary m-btn--icon m-btn--icon-only m-btn--pill" title="Delete " data-toggle="modal" data-target="#delete-model-popup" (click)="DeleteItem(feature)">
                                    <i class="la la-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--end: Datatable -->
            <!--begin::Modal-->
            <div class="modal fade" id="delete-model-popup" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="m-alert m-alert--icon alert alert-danger" role="alert" style="margin: 0;">
                            <div class="m-alert__icon">
                                <i class="la la-warning"></i>
                            </div>
                            <div class="m-alert__text">
                                <strong>
                                    Are you sure you want to delete this feature.
                                </strong>
                            </div>
                        </div>
                        <div class="modal-footer m--align-center" style="display: block;">
                            <button type="button" class="btn btn-success" data-dismiss="modal">
                                No
                            </button>
                            <button type="button" class="btn btn-danger" (click)="ConfirmedDeleteItem()">
                                Yes
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Modal-->
        </div>
    </div>
</div>
