<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Agent Management
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a routerLink="/level-2/hod/sale/agents" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/level-2/hod/sale/agents" class="m-nav__link">
						<span class="m-nav__link-text">
							Agent's
						</span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/level-2/hod/sale/agent/view/{{ _agent_detail.user_id }}" class="m-nav__link">
						<span class="m-nav__link-text">
							View {{ _agent_detail.first_name + ' ' + _agent_detail.last_name }} User
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
                            <h3 class="m-portlet__head-text">
                                {{ _agent_detail.first_name + ' ' + _agent_detail.last_name }} User
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-section">
                        <div class="m-section__content">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th scope="row" style="width: 20%; border-top: 0;">
                                        Name:
                                    </th>
                                    <td style="border-top: 0;">
                                        {{ GenerateName(_agent_detail) }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Email:
                                    </th>
                                    <td>
                                        {{ _agent_detail.email }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Phone Number:
                                    </th>
                                    <td>
                                        {{ _agent_detail.phone }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Date of Birth:
                                    </th>
                                    <td>
                                        {{ _agent_detail.date_of_birthday }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Address:
                                    </th>
                                    <td>
                                        {{ _agent_detail.address_line_1 }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Job Post:
                                    </th>
                                    <td>
                                        {{ _agent_detail.job_post }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Role Selection:
                                    </th>
                                    <td *ngFor="let role of _agent_detail.roles">
                                        {{ role.name }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Access Level:
                                    </th>
                                    <td>
                                        {{ _agent_detail.level }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Description:
                                    </th>
                                    <td>
                                        {{ _agent_detail.description }}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="row">
                        <div class="col-lg-12">
                            <!--begin::Portlet-->
                            <div class="m-portlet">
                                <!-- assign clients list -->
                                <div class="m-datatable m-datatable--default m-datatable--primary m-datatable--loaded" >
                                    <table class="m-datatable__table">
                                        <thead class="m-datatable__head">
                                        <tr class="m-datatable__row" style="height: 53px;">
                                            <th class="m-datatable__cell" style="width: 15%"> &nbsp; &nbsp; Client ID</th>
                                            <th class="m-datatable__cell" style="width: 20%">Name</th>
                                            <th class="m-datatable__cell" style="width: 20%">Mobile Number</th>
                                            <th class="m-datatable__cell" style="width: 15%">Status</th>
                                            <th class="m-datatable__cell" style="width: 15%">Type</th>
                                            <th class="m-datatable__cell" style="width: 15%">Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody class="m-datatable__body">
                                        <tr class="m-datatable__row m-datatable__row--even" *ngFor="let customer of _agent_detail.user_clients">
                                            <td class="m-datatable__cell" style="width: 15%"> &nbsp; &nbsp; {{ customer.customer_id }}</td>
                                            <td class="m-datatable__cell" style="width: 20%">{{ customer.customer_name }}</td>
                                            <td class="m-datatable__cell" style="width: 20%">{{ customer.mobile_1 }}</td>
                                            <td class="m-datatable__cell" style="width: 15%">
                                                <span class="m-badge {{ customer.status == 0?'m-badge--accent':'m-badge--success'  }} m-badge--wide" style="color: #fff; display: inline-block;">
                                                    {{ customer.status == 0?'Not Active':'Active'  }}
                                                </span>
                                            </td>
                                            <td class="m-datatable__cell" style="width: 15%">{{ customer.customer_type == 0?'Individual':'corporate' }}</td>
                                            <td class="m-datatable__cell" style="width: 15%">
                                                <a routerLink="/level-2/hod/sale/client/view/{{ customer.customer_id }}" class="m-portlet__nav-link btn m-btn m-btn--hover-primary m-btn--icon m-btn--icon-only m-btn--pill" title="View details">
                                                    <i class="la la-eye"></i>
                                                </a>
                                                <a href="javascript:;" class="m-portlet__nav-link btn m-btn m-btn--hover-primary m-btn--icon m-btn--icon-only m-btn--pill" title="Delete" data-toggle="modal" data-target="#delete-model-popup" (click)="DeleteItem(customer)">
                                                    <i class="la la-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- assign clients list -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Portlet-->
            <!--begin::Modal-->
            <div class="modal fade" id="delete-model-popup" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="m-alert m-alert--icon alert alert-danger" role="alert" style="margin: 0;">
                            <div class="m-alert__icon">
                                <i class="la la-warning"></i>
                            </div>
                            <div class="m-alert__text">
                                <strong>
                                    Are you sure you want to remove this client.
                                </strong>
                            </div>
                        </div>
                        <div class="modal-footer m--align-center" style="display: block;">
                            <button type="button" class="btn btn-success" data-dismiss="modal">
                                No
                            </button> &nbsp; &nbsp;
                            <button type="button" class="btn btn-danger" (click)="ConfirmedDeleteItem()">
                                Yes
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Modal-->
        </div>
    </div>
</div>
