<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                User Management
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a routerLink="/level-1/role" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/level-1/role" class="m-nav__link">
						<span class="m-nav__link-text">
							Role's
						</span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/level-1/role/view-role/{{ _role_detail.id }}" class="m-nav__link">
						<span class="m-nav__link-text">
							View {{ _role_detail.name }} role's
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
                            <h3 class="m-portlet__head-text">
                                {{ _role_detail.name }} Role
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-section">
                        <div class="m-section__content">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row" style="border-top: 0; width: 20%;">
                                            Role Name:
                                        </th>
                                        <td style="border-top: 0;">
                                            {{ _role_detail.name }}
                                        </td>
                                    </tr>
                                    <tr *ngFor="let permission of _permissions">
                                        <th scope="row">
                                            {{ permission.name }}:
                                        </th>
                                        <td>
                                            <span *ngFor="let name of permission.permissions; let last = last">
                                                <strong>{{ name }}</strong> <span *ngIf="!last">,</span>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            Description:
                                        </th>
                                        <td>
                                            {{ _role_detail.description }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-10">
                                    <a routerLink="/level-1/role/update-role/{{ _role_detail.id }}" class="btn btn-primary">
                                        Edit
                                    </a>
                                    <a routerLink="/level-1/role" class="btn btn-secondary">
                                        Back
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>
