<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Leads
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a routerLink="/level-2/hod/sale/leads" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/level-2/hod/sale/leads" class="m-nav__link">
						<span class="m-nav__link-text">
							Leads
						</span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/level-2/hod/sale/lead/view/:lead_id/{{ _lead_detail.lead_id }}" class="m-nav__link">
						<span class="m-nav__link-text">
							{{ _lead_detail.lead_id }}
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="row"></div>
                <div class="m-portlet__body">
                    <div class="m-section">
                        <div class="m-section__content">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row" style="width: 170px; border-top: 0;">
                                            Agent:
                                        </th>
                                        <td style="border-top: 0;">
                                            <span data-toggle="modal" data-target="#delete-model-popup" *ngFor="let assign_agent of _lead_detail.agents" style="cursor: pointer;" (click)="DeleteItem(assign_agent)">
                                                <span class="m-badge m-badge--info m-badge--wide">
                                                    {{ GenerateName(assign_agent.assigned_to) }} <i style="font-size: 0.9em;" class="flaticon-close"></i>
                                                </span>
                                            </span>
                                            <span data-toggle="modal" data-target="#add-model-popup" class="m-badge m-badge--info m-badge--wide" style="cursor: pointer;">
                                                <i style="font-size: 0.9em;" class="la la-plus"></i> Assign it to another agent
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="width: 170px;">
                                            Status:
                                        </th>
                                        <td>
                                            <div class="m-form__control" *ngIf="_lead_detail.status != 1 && _lead_detail.status != 2">
                                                <select class="form-control" (change)="UpdateStatus()" [(ngModel)]="_lead_detail.status">
                                                    <option *ngFor="let status of _status_list" value="{{ status.id }}">
                                                        {{ status.name }}
                                                    </option>
                                                </select>
                                            </div>
                                            <span *ngIf="_lead_detail.status == 1 || _lead_detail.status == 2">
                                                {{ LeadStatus(_lead_detail.status) }}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="width: 170px;">
                                            Proposal:
                                        </th>
                                        <td>
                                            <a href="{{ GenerateLink(_lead_detail.lead_proposal) }}" target="_blank">
                                                {{ _lead_detail.lead_proposal?_lead_detail.lead_proposal.proposal_id:'' }}
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            Customer Name:
                                        </th>
                                        <td>
                                            {{ _lead_detail.lead_proposal?_lead_detail.lead_proposal.client_info.customer_name:'' }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            Customer ID Card:
                                        </th>
                                        <td>
                                            {{ _lead_detail.lead_proposal?_lead_detail.lead_proposal.client_info.id_card_no:'' }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            D.O.B:
                                        </th>
                                        <td>
                                            {{ _lead_detail.lead_proposal?_lead_detail.lead_proposal.client_info.date_of_birthday:'' }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            Address:
                                        </th>
                                        <td>
                                            {{ _lead_detail.lead_proposal?_lead_detail.lead_proposal.client_info.address_line_1:'' }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            Mobile No:
                                        </th>
                                        <td>
                                            {{ _lead_detail.lead_proposal?_lead_detail.lead_proposal.client_info.mobile_1:'' }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            Phone (res):
                                        </th>
                                        <td>
                                            {{ _lead_detail.lead_proposal?_lead_detail.lead_proposal.client_info.phone_1:'' }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            Email address:
                                        </th>
                                        <td>
                                            {{ _lead_detail.lead_proposal?_lead_detail.lead_proposal.client_info.email:'' }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><h5 style="padding: 20px 0 10px;">Follow Up History:</h5></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="m-messenger m-messenger--message-arrow m-messenger--skin-light">
                                <div class="m-messenger__messages" style="overflow: hidden;">
                                    <div *ngFor="let message of _lead_detail.lead_follow_up_history">
                                        <div class="m-messenger__message m-messenger__message--in" *ngIf="message.commented_by == 1">
                                            <div class="m-messenger__message-pic">
                                                <img src="./assets/uploads/images/profile/default.jpeg" alt=""/>
                                            </div>
                                            <div class="m-messenger__message-body">
                                                <div class="m-messenger__message-arrow"></div>
                                                <div class="m-messenger__message-content">
                                                    <div class="m-messenger__message-username">
                                                        {{ _lead_detail.lead_proposal.client_info.customer_name }}
                                                    </div>
                                                    <div class="m-messenger__message-text">
                                                        {{ message.comment }}
                                                    </div>
                                                    <span>{{ message.created_at }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="float: left; width: 100%;"></div>
                                        <div class="m-messenger__message m-messenger__message--out" *ngIf="message.commented_by == 0">
                                            <div class="m-messenger__message-body">
                                                <div class="m-messenger__message-arrow"></div>
                                                <div class="m-messenger__message-content">
                                                    <div class="m-messenger__message-username" style="color: #fff;">
                                                        {{ GenerateName(message.user_info) }}
                                                    </div>
                                                    <div class="m-messenger__message-text" style="color: #fff;">
                                                        {{ message.comment }}
                                                    </div>
                                                    <span style="color: #fff;">{{ message.created_at }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="float: left; width: 100%;"></div>
                                    </div>
                                </div>
                                <div class="m-messenger__seperator"></div>
                                <form action="javascript:;" (submit)="SaveComment($event)">
                                    <input type="hidden" name="customer_id" value="{{ _lead_detail.lead_proposal?_lead_detail.lead_proposal.client_info.customer_id:'' }}">
                                    <input type="hidden" name="lead_id" value="{{ _lead_detail.lead_id }}">
                                    <div class="m-messenger__form" style="display: block; max-width: 300px; margin-bottom: 15px;">
                                        <select class="form-control m-select2" appSelectorTwo name="commented_by">
                                            <option value="">Select user</option>
                                            <option value="0">
                                                From Hod
                                            </option>
                                            <option value="1">
                                                From {{ _lead_detail.lead_proposal?_lead_detail.lead_proposal.client_info.customer_name:'' }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="m-messenger__form">
                                        <div class="m-messenger__form-controls">
                                            <textarea class="form-control m-messenger__form-input m-input" placeholder="Type here..." rows="3" name="comment"></textarea>
                                        </div>
                                        <div class="m-messenger__form-tools">
                                            <button type="submit" class="m-messenger__form-attachment" style="border: 0;">
                                                <i class="la la-send"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>
<!--begin::Modal-->
<div class="modal fade" id="delete-model-popup" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="m-alert m-alert--icon alert alert-danger" role="alert" style="margin: 0;">
                <div class="m-alert__icon">
                    <i class="la la-warning"></i>
                </div>
                <div class="m-alert__text">
                    <strong>
                        Are you sure you want to Unassigned this lead to Agent.
                    </strong>
                </div>
            </div>
            <div class="modal-footer m--align-center" style="display: block;">
                <button type="button" class="btn btn-success" data-dismiss="modal">
                    No
                </button> &nbsp; &nbsp;
                <button type="button" class="btn btn-danger" (click)="ConfirmedDeleteItem()">
                    Yes
                </button>
            </div>
        </div>
    </div>
</div>
<!--end::Modal-->
<!--begin::Modal-->
<div class="modal fade" id="add-model-popup" tabindex="-1" role="dialog" aria-labelledby="AddModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="m-alert m-alert--icon alert alert-danger" role="alert" style="margin: 0;">
                <div class="m-alert__icon">
                    <i class="la la-warning"></i>
                </div>
                <div class="m-alert__text">
                    <strong>
                        Are you sure you want to assign this lead to another Agent.
                    </strong>
                </div>
            </div>
            <div class="modal-footer" style="display: block;">
                <div class="col-xs-12">
                    <div class="form-group m-form__group row">
                        <label class="col-4 col-form-label">Select Agent:</label>
                        <div class="col-8">
                            <select class="form-control" appSelectorTwo (onChange)="_new_agent = $event">
                                <option value="">
                                    All
                                </option>
                                <option *ngFor="let agent of _agent_list" value="{{ agent.user_id }}">
                                    {{ GenerateName(agent) }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="d-md-none m--margin-bottom-10"></div>
                </div>
                <div class="m--align-center">
                    <button type="button" class="btn btn-success" data-dismiss="modal">
                        No
                    </button> &nbsp; &nbsp;
                    <button type="button" class="btn btn-danger" (click)="AssignAgent()">
                        Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end::Modal-->
