<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Update Client
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a routerLink="/level-3/crm/clients" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/level-3/crm/clients" class="m-nav__link">
						<span class="m-nav__link-text">
							Client's
						</span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/level-3/sale/client/update/individual/{{ opt_id }}/{{ _client_detail.customer_id }}" class="m-nav__link">
						<span class="m-nav__link-text">
							{{ _client_detail.customer_name }} Client
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Form-->
            <form class="m-form m-form--label-align-right" action="javascript:;" (submit)="SaveClient($event)">
                <input type="hidden" name="id" [(ngModel)]="_client_detail.customer_id">
                <input type="hidden" name="opt_id" [(ngModel)]="opt_id">
                <div class="m-portlet__body">
                    <div class="m-form__section m-form__section--first">
                        <div class="m-form__heading">
                            <h3 class="m-form__heading-title">
                                Customer Info:
                            </h3>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">
                                Customer Type:
                            </label>
                            <div class="col-lg-6">
                                <div class="m-radio-inline">
                                    <label class="m-radio">
                                        <input type="radio" checked name="customer_type" value="0"> Individual
                                        <span></span>
                                    </label>
                                    <label class="m-radio">
                                        <input type="radio" name="customer_type" value="1" (click)="SwitchForm()"> Corporate
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="form-group m-form__group row">
                                <div class="col-lg-6">
                                    <label>
                                        Title:
                                    </label>
                                    <div class="m-radio-inline">
                                        <label class="m-radio">
                                            <input type="radio" name="social_title" value="Mr." [(ngModel)]="_client_detail.social_title"> Mr.
                                            <span></span>
                                        </label>
                                        <label class="m-radio">
                                            <input type="radio" name="social_title" value="Mrs." [(ngModel)]="_client_detail.social_title"> Mrs.
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <div class="col-md-6">
                                    <label>
                                        Customer Name:
                                    </label>
                                    <input type="text" class="form-control m-input" placeholder="Enter customer name" name="customer_name" [(ngModel)]="_client_detail.customer_name">
                                </div>
                                <div class="col-md-6">
                                    <label>
                                        Customer ID Card:
                                    </label>
                                    <input type="number" class="form-control m-input" placeholder="Enter customer ID card number" name="id_card_no" [(ngModel)]="_client_detail.id_card_no">
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <div class="col-md-6">
                                    <label>
                                        D.O.B:
                                    </label>
                                    <input type='text' class="form-control" appDatePicker placeholder="Select date" name="date_of_birthday" [(ngModel)]="_client_detail.date_of_birthday"/>
                                </div>
                                <div class="col-md-6">
                                    <label>
                                        Address:
                                    </label>
                                    <input type="text" class="form-control m-input" placeholder="Enter customer address" name="address_line_1" [(ngModel)]="_client_detail.address_line_1">
                                </div>
                            </div>
                            <div class="form-group m-form__group row" style="font-size: 14px; font-weight: normal;">
                                <div class="col-md-6">
                                    <label>
                                        City:
                                    </label>
                                    <select class="form-control" appSelectorTwo name="city" [(ngModel)]="_client_detail.city">
                                        <option *ngFor="let city of _cities_list" value="{{ city.name }}">
                                            {{ city.name }}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label>
                                        Country:
                                    </label>
                                    <select class="form-control" appSelectorTwo name="country" [(ngModel)]="_client_detail.country">
                                        <option *ngFor="let country of _countries_list" value="{{ country.name }}">
                                            {{ country.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <div class="col-md-6">
                                    <label>
                                        Mobile No:
                                    </label>
                                    <input type="text" class="form-control m-input" placeholder="Enter customer mobile" name="mobile_1" [(ngModel)]="_client_detail.mobile_1" style="margin-bottom: 10px;">
                                    <input type="text" class="form-control m-input" placeholder="Enter customer mobile" name="mobile_2" [(ngModel)]="_client_detail.mobile_2">
                                </div>
                                <div class="col-md-6">
                                    <label>
                                        Phone (res):
                                    </label>
                                    <input type="text" class="form-control m-input" placeholder="Enter customer phone" name="phone_1" [(ngModel)]="_client_detail.phone_1" style="margin-bottom: 10px;">
                                    <input type="text" class="form-control m-input" placeholder="Enter customer phone" name="phone_2" [(ngModel)]="_client_detail.phone_2">
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <div class="col-md-6">
                                    <label>
                                        Email address:
                                    </label>
                                    <input type="email" class="form-control m-input" placeholder="Enter email" name="email" [(ngModel)]="_client_detail.email">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                    <div class="m-form__actions">
                        <div class="row">
                            <div class="row">
                                <button type="submit" class="btn btn-primary">
                                    Submit
                                </button> &nbsp; &nbsp;
                                <a routerLink="/level-3/crm/clients" class="btn btn-secondary">
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!--end::Form-->
        </div>
    </div>
</div>
