<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Reports
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a routerLink="/level-3/sale/reports" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/level-3/sale/reports" class="m-nav__link">
						<span class="m-nav__link-text">
							Reports
						</span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/level-3/sale/reports" class="m-nav__link">
						<span class="m-nav__link-text">
							Generate Reports
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
        <div class="m-alert__icon">
            <i class="flaticon-exclamation m--font-primary"></i>
        </div>
        <div class="m-alert__text">
            Select time range and generate report
        </div>
    </div>
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <div class="row">
                <div class="col-lg-12">
                    <!--begin::Form-->
                    <form class="m-form m-form--label-align-right" action="javascript:;" (submit)="GenerateReport($event)">
                        <div class="m-portlet__body">
                            <div class="m-form__section m-form__section--first">
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3 col-sm-12">
                                        From:
                                    </label>
                                    <div class="col-lg-4 col-md-9 col-sm-12">
                                        <input type='text' class="form-control" readonly placeholder="Select time" appDatePicker name="from_date">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3 col-sm-12">
                                        To:
                                    </label>
                                    <div class="col-lg-4 col-md-9 col-sm-12">
                                        <input type='text' class="form-control" readonly placeholder="Select time" appDatePicker name="to_date">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3 col-sm-12">
                                        Category:
                                    </label>
                                    <div class="col-lg-4 col-md-9 col-sm-12" style="font-size: 13px; font-weight: normal;">
                                        <select class="form-control" appSelectorTwo name="category">
                                            <option value="">
                                                Select Category
                                            </option>
                                            <option value="1">
                                                Clients
                                            </option>
                                            <option value="2">
                                                Proposals
                                            </option>
                                            <option value="3">
                                                Leads
                                            </option>
                                            <option value="4">
                                                Sales
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="m-form__seperator m-form__seperator--dashed"></div>
                        <br>
                        <div class="row">
                            <div class="col-lg-3 col-sm-12">&nbsp;</div>
                            <div class="col-lg-4 col-md-9 col-sm-12">
                                <button type="submit" class="btn btn-primary">
                                    Generate
                                </button> &nbsp; &nbsp;
                                <button type="reset" class="btn btn-secondary">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </form>
                    <!--end::Form-->
                </div>
            </div>
        </div>
    </div>
</div>