<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close m-aside-left-close--skin-dark" id="m_aside_left_close_btn" appunwraptag="">
    <i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark">
    <!-- BEGIN: Aside Menu -->
    <div id="m_ver_menu"
         class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark m-aside-menu--dropdown"
         data-menu-vertical="true" data-menu-dropdown="true" data-menu-scrollable="true"
         data-menu-dropdown-timeout="500">
        <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">
            <!-- sale hod dashboard -->
            <li class="m-menu__item  " routerLinkActive="m-menu__item--active" aria-haspopup="true" *appCheckLayout2Permissions="'level-2_hod_sale_index_view'">
                <a routerLink="/level-2/hod/sale/index" class="m-menu__link">
                    <span class="m-menu__item-here"></span>
                    <i class="m-menu__link-icon flaticon-line-graph"></i>
                    <span class="m-menu__link-text">
						Dashboard
					</span>
                </a>
            </li>
            <!-- sale hod dashboard -->
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover" *appCheckLayout2Permissions="'level-2_hod_sale_client_list'">
                <a routerLink="/level-2/hod/sale/clients" class="m-menu__link">
                    <span class="m-menu__item-here"></span>
                    <i class="m-menu__link-icon flaticon-users"></i>
                    <span class="m-menu__link-text">
						Clients
					</span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
            </li>
            <!-- sale hod dashboard -->
            <li class="m-menu__item  m-menu__item--submenu"  aria-haspopup="true" data-menu-submenu-toggle="hover" *appCheckLayout2Permissions="'level-2_hod_sale_proposal_list'">
                <a routerLink="/level-2/hod/sale/proposals" class="m-menu__link">
                    <span class="m-menu__item-here"></span>
                    <i class="m-menu__link-icon flaticon-interface-4"></i>
                    <span class="m-menu__link-text">
						Proposals
					</span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
            </li>
            <!-- sale hod dashboard -->
            <li class="m-menu__item  m-menu__item--submenu"   aria-haspopup="true" data-menu-submenu-toggle="hover" *appCheckLayout2Permissions="'level-2_hod_sale_lead_list'">
                <a routerLink="/level-2/hod/sale/leads" class="m-menu__link">
                    <span class="m-menu__item-here"></span>
                    <i class="m-menu__link-icon flaticon-rocket"></i>
                    <span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								Leads
							</span>
							<span class="m-menu__link-badge">
								<span class="m-badge m-badge--danger">
									2
								</span>
							</span>
						</span>
					</span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
            </li>
            <!-- sale hod dashboard -->
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover" data-redirect="true" *appCheckLayout2Permissions="'level-2_hod_sale_sale_list'">
                <a routerLink="/level-2/hod/sale/sales" class="m-menu__link">
                    <span class="m-menu__item-here"></span>
                    <i class="m-menu__link-icon flaticon-confetti"></i>
                    <span class="m-menu__link-text">
						Sales
					</span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
            </li>
            <!-- sale hod dashboard -->
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover" data-redirect="true" *appCheckLayout2Permissions="'level-2_hod_sale_report_view'">
                <a routerLink="/level-2/hod/sale/reports" class="m-menu__link">
                    <span class="m-menu__item-here"></span>
                    <i class="m-menu__link-icon flaticon-interface-2"></i>
                    <span class="m-menu__link-text">
						Reports
					</span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
            </li>
            <!-- sale hod dashboard -->
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover" data-redirect="true" *appCheckLayout2Permissions="'level-2_hod_sale_ticket_list'">
                <a routerLink="/level-2/hod/sale/tickets" class="m-menu__link">
                    <span class="m-menu__item-here"></span>
                    <i class="m-menu__link-icon flaticon-open-box"></i>
                    <span class="m-menu__link-text">
						Tickets
					</span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
            </li>
            <!-- sale hod dashboard -->
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover" data-redirect="true" *appCheckLayout2Permissions="'level-2_hod_sale_agent_list'">
                <a routerLink="/level-2/hod/sale/agents" class="m-menu__link">
                    <span class="m-menu__item-here"></span>
                    <i class="m-menu__link-icon flaticon-user"></i>
                    <span class="m-menu__link-text">
						Agents
					</span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
            </li>
            <!--========================================================= -->
            <!-- CRM -->
            <!-- crm hod dashboard -->
            <li class="m-menu__item  " routerLinkActive="m-menu__item--active" aria-haspopup="true" *appCheckLayout2Permissions="'level-2_hod_crm_index_view'">
                <a routerLink="/level-2/hod/crm/index" class="m-menu__link">
                    <span class="m-menu__item-here"></span>
                    <i class="m-menu__link-icon flaticon-line-graph"></i>
                    <span class="m-menu__link-text">
						Dashboard
					</span>
                </a>
            </li>
            <!-- crm hod Clients -->
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover" *appCheckLayout2Permissions="'level-2_hod_crm_client_list'">
                <a routerLink="/level-2/hod/crm/clients" class="m-menu__link">
                    <span class="m-menu__item-here"></span>
                    <i class="m-menu__link-icon flaticon-users"></i>
                    <span class="m-menu__link-text">
						Clients
					</span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
            </li>
            <!-- crm hod Leads -->
            <li class="m-menu__item  m-menu__item--submenu"   aria-haspopup="true" data-menu-submenu-toggle="hover" *appCheckLayout2Permissions="'level-2_hod_crm_lead_list'">
                <a routerLink="/level-2/hod/crm/leads" class="m-menu__link">
                    <span class="m-menu__item-here"></span>
                    <i class="m-menu__link-icon flaticon-rocket"></i>
                    <span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								Leads
							</span>
							<span class="m-menu__link-badge">
								<!--<span class="m-badge m-badge&#45;&#45;danger">
									0
								</span>-->
							</span>
						</span>
					</span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
            </li>
            <!-- crm hod Reports -->
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover" data-redirect="true" *appCheckLayout2Permissions="'level-2_hod_crm_lead_list'">
                <a routerLink="/level-2/hod/crm/reports" class="m-menu__link">
                    <span class="m-menu__item-here"></span>
                    <i class="m-menu__link-icon flaticon-interface-2"></i>
                    <span class="m-menu__link-text">
						Reports
					</span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
            </li>
            <!-- crm hod Tickets -->
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover" data-redirect="true" *appCheckLayout2Permissions="'level-2_hod_crm_ticket_list'">
                <a routerLink="/level-2/hod/crm/tickets" class="m-menu__link">
                    <span class="m-menu__item-here"></span>
                    <i class="m-menu__link-icon flaticon-open-box"></i>
                    <span class="m-menu__link-text">
						Tickets
					</span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
            </li>
            <!-- crm hod operational Tickets -->
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover" data-redirect="true" *appCheckLayout2Permissions="'level-2_hod_crm_operational_ticket_list'">
                <a routerLink="/level-2/hod/crm/operational/tickets" class="m-menu__link">
                    <span class="m-menu__item-here"></span>
                    <i class="m-menu__link-icon flaticon-internet"></i>
                    <span class="m-menu__link-text">
						OP Tickets
					</span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
            </li>
            <!-- crm hod agents -->
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover" data-redirect="true" *appCheckLayout2Permissions="'level-2_hod_crm_agent_list'">
                <a routerLink="/level-2/hod/crm/agents" class="m-menu__link">
                    <span class="m-menu__item-here"></span>
                    <i class="m-menu__link-icon flaticon-user"></i>
                    <span class="m-menu__link-text">
						Agent
					</span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
            </li>
        </ul>
    </div>
    <!-- END: Aside Menu -->
</div>
<!-- END: Left Aside -->
