<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Operational Tickets
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a routerLink="/level-3/crm/operational/tickets" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/level-3/crm/operational/tickets" class="m-nav__link">
						<span class="m-nav__link-text">
							Operational Tickets
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
        <div class="m-alert__icon">
            <i class="flaticon-exclamation m--font-primary"></i>
        </div>
        <div class="m-alert__text">
            List of Clients Operational Tickets.
        </div>
    </div>
    <div class="m-portlet m-portlet--tabs">
        <div class="m-portlet__head">
            <div class="m-portlet__head-tools">
                <ul class="nav nav-tabs m-tabs-line m-tabs-line--primary m-tabs-line--right" role="tablist">
                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_6_2" role="tab">
                            <i class="flaticon-alarm"></i>
                            Assigned Ticket
                        </a>
                    </li>
                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_1" role="tab">
                            <i class="flaticon-alert-2"></i>
                            Created Ticket
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="tab-content">
                <div class="tab-pane active" id="m_tabs_6_2" role="tabpanel">
                    <!--begin: Search Form -->
                    <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                        <div class="row align-items-center">
                            <div class="col-xl-8 order-2 order-xl-1">
                                <div class="form-group m-form__group row align-items-center">
                                    <div class="col-md-4">
                                        <div class="m-form__group m-form__group--inline">
                                            <div class="m-form__label">
                                                <label>
                                                    Priority:
                                                </label>
                                            </div>
                                            <div class="m-form__control">
                                                <select class="form-control" appSelectorTwo (onChange)="priority_val = $event">
                                                    <option value="">
                                                        All
                                                    </option>
                                                    <option *ngFor="let priority of _priority_list" value="{{ priority.id }}">
                                                        {{ priority.name }}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="d-md-none m--margin-bottom-10"></div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="m-input-icon m-input-icon--left">
                                            <input type="text" class="form-control m-input" placeholder="Search..." [(ngModel)]="filter">
                                            <span class="m-input-icon__icon m-input-icon__icon--left">
                                                <span>
                                                    <i class="la la-search"></i>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                                <a routerLink="/level-3/crm/operational/ticket/new" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                                    <span>
                                        <i class="la la-plus"></i>
                                        <span>New Ticket</span>
                                    </span>
                                </a>
                                <div class="m-separator m-separator--dashed d-xl-none"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Assigned Ticket list -->
                    <div class="m-datatable m-datatable--default m-datatable--primary m-datatable--loaded" >
                        <table class="m-datatable__table">
                            <thead class="m-datatable__head">
                            <tr class="m-datatable__row" style="height: 53px;">
                                <th class="m-datatable__cell" style="width: 17%;"> &nbsp; &nbsp; Ticket ID</th>
                                <th class="m-datatable__cell" style="width: 35%;">Title</th>
                                <th class="m-datatable__cell" style="width: 13%;">Created By</th>
                                <th class="m-datatable__cell" style="width: 10%;">Priority</th>
                                <th class="m-datatable__cell" style="width: 10%;">Status</th>
                                <th class="m-datatable__cell" style="width: 10%;">Assigned To</th>
                                <th class="m-datatable__cell" style="width: 15%;">Actions</th>
                            </tr>
                            </thead>
                            <tbody class="m-datatable__body">
                            <tr class="m-datatable__row m-datatable__row--even" *ngFor="let ticket of _assigned_ticket_list | filter:filter | filter:priority_val:'priority_level'">
                                <td class="m-datatable__cell" style="width: 16%;"> &nbsp; &nbsp; {{ticket.operational_ticket_id }}</td>
                                <td class="m-datatable__cell" style="width: 34%;">{{ticket.ticket_title }}</td>
                                <td class="m-datatable__cell" style="width: 13%;"><span class="m-badge m-badge--primary m-badge--wide" style="color: #fff; display: inline-block;">{{ GenerateName(ticket.user_info) }}</span></td>
                                <td class="m-datatable__cell" style="width: 10%;">
                                    <span class="m-badge m-badge--{{ TicketPriorityColor(ticket.priority_level) }} m-badge--wide" style="color: #fff; display: inline-block;">
                                        {{ TicketPriority(ticket.priority_level) }}
                                    </span>
                                </td>
                                <td class="m-datatable__cell" style="width: 10%;">
                                    <span class="m-badge {{ticket.status == 0?'m-badge--success':'m-badge--accent'  }} m-badge--wide" style="color: #fff; display: inline-block;">
                                        {{ticket.status == 0?'Open':'Close'  }}
                                    </span>
                                </td>
                                <td class="m-datatable__cell" style="width: 12%;">
                                    <span *ngFor="let assign_user of ticket.assigned_to; let last = last">
                                        <span class="m-badge m-badge--warning m-badge--wide" style="color: #fff; display: inline-block;">{{ GenerateName(assign_user.assigned_user_info) }}</span>
                                    </span>
                                </td>
                                <td class="m-datatable__cell" style="width: 15%;">
                                    <a routerLink="/level-3/crm/operational/ticket/view/{{ ticket.operational_ticket_id }}" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="View details">
                                        <i class="la la-eye"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane" id="m_tabs_6_1" role="tabpanel">
                    <!--begin: Search Form -->
                    <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                        <div class="row align-items-center">
                            <div class="col-xl-8 order-2 order-xl-1">
                                <div class="form-group m-form__group row align-items-center">
                                    <div class="col-md-4">
                                        <div class="m-form__group m-form__group--inline">
                                            <div class="m-form__label">
                                                <label>
                                                    Priority:
                                                </label>
                                            </div>
                                            <div class="m-form__control">
                                                <select class="form-control" appSelectorTwo (onChange)="priority_val = $event">
                                                    <option value="">
                                                        All
                                                    </option>
                                                    <option *ngFor="let priority of _priority_list" value="{{ priority.id }}">
                                                        {{ priority.name }}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="d-md-none m--margin-bottom-10"></div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="m-input-icon m-input-icon--left">
                                            <input type="text" class="form-control m-input" placeholder="Search..." [(ngModel)]="filter">
                                            <span class="m-input-icon__icon m-input-icon__icon--left">
        										<span>
        											<i class="la la-search"></i>
        										</span>
        									</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                                <a routerLink="/level-3/crm/operational/ticket/new" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
        							<span>
        								<i class="la la-plus"></i>
        								<span>New Ticket</span>
        							</span>
                                </a>
                                <div class="m-separator m-separator--dashed d-xl-none"></div>
                            </div>
                        </div>
                    </div>
                    <!-- created Ticket list -->
                    <div class="m-datatable m-datatable--default m-datatable--primary m-datatable--loaded" >
                        <table class="m-datatable__table">
                            <thead class="m-datatable__head">
                            <tr class="m-datatable__row" style="height: 53px;">
                                <th class="m-datatable__cell" style="width: 17%;"> &nbsp; &nbsp; Ticket ID</th>
                                <th class="m-datatable__cell" style="width: 35%;">Title</th>
                                <th class="m-datatable__cell" style="width: 13%;">Created By</th>
                                <th class="m-datatable__cell" style="width: 10%;">Priority</th>
                                <th class="m-datatable__cell" style="width: 10%;">Status</th>
                                <th class="m-datatable__cell" style="width: 10%;">Assigned To</th>
                                <th class="m-datatable__cell" style="width: 15%;">Actions</th>
                            </tr>
                            </thead>
                            <tbody class="m-datatable__body">
                                <tr class="m-datatable__row m-datatable__row--even" *ngFor="let ticket of _ticket_list | filter:filter | filter:priority_val:'priority_level'">
                                    <td class="m-datatable__cell" style="width: 16%;"> &nbsp; &nbsp; {{ticket.operational_ticket_id }}</td>
                                    <td class="m-datatable__cell" style="width: 34%;">{{ticket.ticket_title }}</td>
                                    <td class="m-datatable__cell" style="width: 13%;"><span class="m-badge m-badge--primary m-badge--wide" style="color: #fff; display: inline-block;">{{ GenerateName(ticket.user_info) }}</span></td>
                                    <td class="m-datatable__cell" style="width: 10%;">
                                        <span class="m-badge m-badge--{{ TicketPriorityColor(ticket.priority_level) }} m-badge--wide" style="color: #fff; display: inline-block;">
                                            {{ TicketPriority(ticket.priority_level) }}
                                        </span>
                                    </td>
                                    <td class="m-datatable__cell" style="width: 10%;">
                                        <span class="m-badge {{ticket.status == 0?'m-badge--success':'m-badge--accent'  }} m-badge--wide" style="color: #fff; display: inline-block;">
                                            {{ticket.status == 0?'Open':'Close'  }}
                                        </span>
                                    </td>
                                    <td class="m-datatable__cell" style="width: 12%;">
                                        <span *ngFor="let assign_user of ticket.assigned_to; let last = last">
                                            <span class="m-badge m-badge--warning m-badge--wide" style="color: #fff; display: inline-block;">{{ GenerateName(assign_user.assigned_user_info) }}</span>
                                        </span>
                                    </td>
                                    <td class="m-datatable__cell" style="width: 15%;">
                                        <a routerLink="/level-3/crm/operational/ticket/view/{{ ticket.operational_ticket_id }}" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="View details">
                                            <i class="la la-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
