<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Create Proposal
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a routerLink="/level-3/sale/proposals" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/level-3/sale/proposals" class="m-nav__link">
						<span class="m-nav__link-text">
							Proposal's
						</span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/level-3/sale/proposal/new" class="m-nav__link">
						<span class="m-nav__link-text">
							Create Proposal
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Form-->
            <form class="m-form m-form--label-align-right" action="javascript:;" (submit)="SaveProposal($event)">
                <div class="m-portlet__body">
                    <div class="m-form__section m-form__section--first">
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">
                                Name:
                            </label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control m-input" placeholder="Enter proposal name" name="name">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">
                                Customer:
                            </label>
                            <div class="col-lg-6" style="font-size: 14px; font-weight: normal;">
                                <select class="form-control" appSelectorTwo name="customer_id">
                                    <option *ngFor="let customer of _customers_list" value="{{ customer.customer_id }}">
                                        {{ customer.customer_name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">
                                Packages:
                            </label>
                            <div class="col-lg-6" style="font-size: 14px; font-weight: normal;">
                                <select class="form-control" appSelectorTwo name="package_id">
                                    <option *ngFor="let package of _packages_list" value="{{ package.package_id }}">
                                        {{ package.package_name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">
                                Description:
                            </label>
                            <div class="col-lg-6">
                                <textarea class="form-control m-input" rows="3" name="description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                    <div class="m-form__actions">
                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-md-6" style="padding-left: 0;">
                                <button type="submit" class="btn btn-primary">
                                    Submit
                                </button> &nbsp; &nbsp;
                                <a routerLink="/level-3/sale/proposals" class="btn btn-secondary">
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!--end::Form-->
        </div>
    </div>
</div>
