<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Clients
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a routerLink="/level-3/sale/clients" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/level-3/sale/clients" class="m-nav__link">
						<span class="m-nav__link-text">
							Clients
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
        <div class="m-alert__icon">
            <i class="flaticon-exclamation m--font-primary"></i>
        </div>
        <div class="m-alert__text">
            List of all clients which you have added.
        </div>
    </div>
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">
                            <div class="col-md-4">
                                <div class="m-form__group m-form__group--inline">
                                    <div class="m-form__label">
                                        <label>
                                            Status:
                                        </label>
                                    </div>
                                    <div class="m-form__control">
                                        <select class="form-control" appSelectorTwo (onChange)="status = $event">
                                            <option value="">
                                                All
                                            </option>
                                            <option value="1">
                                                Active
                                            </option>
                                            <option value="0">
                                                Not Active
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="d-md-none m--margin-bottom-10"></div>
                            </div>
                            <div class="col-md-4">
                                <div class="m-form__group m-form__group--inline">
                                    <div class="m-form__label">
                                        <label class="m-label m-label--single">
                                            Type:
                                        </label>
                                    </div>
                                    <div class="m-form__control">
                                        <select class="form-control" appSelectorTwo (onChange)="type = $event">
                                            <option value="">
                                                All
                                            </option>
                                            <option value="0">
                                                Individual
                                            </option>
                                            <option value="1">
                                                Corporate
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="d-md-none m--margin-bottom-10"></div>
                            </div>
                            <div class="col-md-4">
                                <div class="m-input-icon m-input-icon--left">
                                    <input type="text" class="form-control m-input" placeholder="Search..." [(ngModel)]="filter">
                                    <span class="m-input-icon__icon m-input-icon__icon--left">
										<span>
											<i class="la la-search"></i>
										</span>
									</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                        <a routerLink="/level-3/sale/client/new/individual" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
							<span>
								<i class="la la-plus"></i>
								<span>
									Add Client
								</span>
							</span>
                        </a>
                        <div class="m-separator m-separator--dashed d-xl-none"></div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
            <!--begin: Datatable -->
            <div class="m-datatable m-datatable--default m-datatable--primary m-datatable--loaded">
                <table class="m-datatable__table">
                    <thead class="m-datatable__head">
                        <tr class="m-datatable__row" style="height: 53px;">
                            <th class="m-datatable__cell" style="width: 15%"> &nbsp; &nbsp; Client ID</th>
                            <th class="m-datatable__cell" style="width: 20%">Name</th>
                            <th class="m-datatable__cell" style="width: 20%">Mobile Number</th>
                            <th class="m-datatable__cell" style="width: 15%">Status</th>
                            <th class="m-datatable__cell" style="width: 15%">Type</th>
                            <th class="m-datatable__cell" style="width: 15%">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="m-datatable__body">
                        <tr class="m-datatable__row m-datatable__row--even" *ngFor="let customer of _customer_list | filter:filter | filter:type:'customer_type' | filter:status:'status';">
                            <td class="m-datatable__cell" style="width: 15%"> &nbsp; &nbsp; {{ customer.customer_id }}</td>
                            <td class="m-datatable__cell" style="width: 20%">{{ customer.customer_name }}</td>
                            <td class="m-datatable__cell" style="width: 20%">{{ customer.mobile_1 }}</td>
                            <td class="m-datatable__cell" style="width: 15%"><span class="m-badge {{ customer.status == 0?'m-badge--accent':'m-badge--success'  }} m-badge--wide" style="color: #fff; display: inline-block;">{{ customer.status == 0?'Not Active':'Active'  }}</span></td>
                            <td class="m-datatable__cell" style="width: 15%">{{ customer.customer_type == 0?'Individual':'corporate' }}</td>
                            <td class="m-datatable__cell" style="width: 15%">
                                <a routerLink="/level-3/sale/client/view/{{ customer.customer_id }}" class="m-portlet__nav-link btn m-btn m-btn--hover-primary m-btn--icon m-btn--icon-only m-btn--pill" title="View details">
                                    <i class="la la-eye"></i>
                                </a>
                                <a routerLink="{{ LoadEditUrl(customer.customer_type, customer.customer_id) }}" class="m-portlet__nav-link btn m-btn m-btn--hover-primary m-btn--icon m-btn--icon-only m-btn--pill" title="Edit details">
                                    <i class="la la-edit"></i>
                                </a>
                                <a href="javascript:;" class="m-portlet__nav-link btn m-btn m-btn--hover-primary m-btn--icon m-btn--icon-only m-btn--pill" title="Delete" data-toggle="modal" data-target="#delete-model-popup" (click)="DeleteItem(customer)">
                                    <i class="la la-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--end: Datatable -->
            <!--begin::Modal-->
            <div class="modal fade" id="delete-model-popup" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="m-alert m-alert--icon alert alert-danger" role="alert" style="margin: 0;">
                            <div class="m-alert__icon">
                                <i class="la la-warning"></i>
                            </div>
                            <div class="m-alert__text">
                                <strong>
                                    Are you sure you want to delete this client.
                                </strong>
                            </div>
                        </div>
                        <div class="modal-footer m--align-center" style="display: block;">
                            <button type="button" class="btn btn-success" data-dismiss="modal">
                                No
                            </button> &nbsp; &nbsp;
                            <button type="button" class="btn btn-danger" (click)="ConfirmedDeleteItem()">
                                Yes
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Modal-->
        </div>
    </div>
</div>
